
<app-header></app-header>
<div class="parent">
    <div id="main">

        <div class="card bg-success text-center">

            <div class="card-body banner ">
                <h4 class="card-title font-weight-bold text-light ">Find and Book</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <div class="input-group mb-3 w-50 mx-auto">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">Noida Sector 56</span>
                    </div>
                    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="Search doctors ,clinics nearby">
                </div>
            </div>
        </div>

        <div class="second">
            <h3 >Popular Searches</h3>

            <div class="deck d-flex justify-content-between ">
              <div class="row">
                <div class="col col-sm-6 col-6 " data-toggle="collapse" data-target="#collapseExample" >
                  <img data-toggle="popover" data-content="Some content" class="card-img-top" src="../../../../assets/images/logo.svg" alt="Card image cap">
               
                </div>
                  <div class="col col-sm-6 col-6  ">
                  <img class="card-img-top" src="..." alt="Card image cap">
                  
                </div>
               
                  <div class="col col-sm-6 col-6 "  data-toggle="collapse" data-target="#collapseExample" >
                  <img data-toggle="popover" data-content="Some content" class="card-img-top" src="../../../../assets/images/logo.svg" alt="Card image cap">
               
                </div>
                  <div class="col col-sm-6 col-6 " >
                  <img class="card-img-top" src="..." alt="Card image cap">
                  
              </div>
            </div>


                
              </div>

              <div class=" profile" id="collapseExample">
                <div class="card " >
                   <div class="profile_content d-flex ">
                       <div > <img  src="../../../../assets/images/logo.svg" width="200px" alt=""></div>
                           <div class="card">
                            <div class="card-body">
                              <div class="d-flex justify-content-between">

                                <h5 class="card-title">Dr. Lorem Ipsum</h5>
                                <p>95%</p>
                              </div>
                              <p>11 years of experience</p>
                              <div class="pl-4 pr-3 mt-2 detail ">
                                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the</p>
                              </div>
                              <div class="d-flex justify-content-between mt-3">

                                <p>Noida Sector 13</p>
                                <p>Consultation Fee:₹400</p>
                              </div>
                           

                              <div class="row mt-3">
                                  <div class="col col-6 ">
                                    <a href="#" class="btn btn-link  border-primary text-primary w-100 ">Book Clinic Visit</a>
                                  </div>
                                  <div class="col col-6 w-100">
                                    <a href="#" class="btn btn-warning text-light  w-100 ">Consult Online</a>
                                  </div>
                              </div>

                            </div>
                          </div>

                   </div>
                </div>
              </div>
        </div>
    </div>



</div>