<h2 mat-dialog-title class="d-flex justify-content-between align-items-center">
    <span>Add Client</span>
    <mat-icon mat-dialog-close class="border rounded small text-muted">close</mat-icon>
</h2>


<mat-dialog-content>
    <form *ngIf="clientForm" [formGroup]="clientForm" class="no-outline" autocomplete="off"
    (ngSubmit)="onSubmit()">

        <div class="row">
            <div class="col-12 col-sm-6 form-group">
                <label class="mb-0" for="firstName">First Name</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="form-control">
                            <mat-select formControlName="titleId">
                                <mat-option *ngFor="let item of titles" [value]="item.id">{{item.title}}</mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <input class="form-control" id="firstName" formControlName="firstName"
                        placeholder="Enter First Name" [ngClass]="{error: clientForm.get('firstName').errors && clientForm.get('firstName').touched}">
                </div>
                <div class="error-message">
                    <ng-container *ngIf="clientForm.get('firstName').errors && clientForm.get('firstName').touched">
                        <span *ngIf="clientForm.get('firstName').hasError('required')">First Name is required!</span>
                    </ng-container>
                </div>
            </div>
            <div class="col-12 col-sm-6 form-group">
                <label class="mb-0" for="lastName">Last Name</label>
                <input class="form-control" id="lastName" formControlName="lastName"
                    placeholder="Enter Last Name">
            </div>
            
        </div>

        <div class="row">
            <div class="col-12 col-sm-6 form-group">
                <label class="mb-0" for="phone">Phone</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="form-control">
                            <mat-select formControlName="countryId">
                                <mat-option *ngFor="let country of countries" [value]="country.id"> +{{country.code}}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <input class="form-control" id="phone" formControlName="phone"
                        placeholder="Enter Phone"
                        [ngClass]="{error: clientForm.get('phone').errors && clientForm.get('phone').touched}">
                </div>
                <div class="error-message">
                    <ng-container *ngIf="clientForm.get('phone').errors && clientForm.get('phone').touched">
                        <span>Phone number invalid!</span>
                    </ng-container>
                </div>
            </div>
            <div class="col-12 col-sm-6 form-group">
                <label class="mb-0" for="genderId">Gender</label>
                <mat-select class="form-control" formControlName="genderId">
                    <mat-option *ngFor="let item of genders" [value]="item.id">{{item.title}}</mat-option>
                </mat-select>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 form-group">
                <label class="mb-0" for="email">Email</label>
                <input type="email" class="form-control" placeholder="Enter Email" id="email" formControlName="email"
                [ngClass]="{error: clientForm.get('email').errors && clientForm.get('email').touched}">
                <div class="error-message">
                    <ng-container *ngIf="clientForm.get('email').errors && clientForm.get('email').touched">
                        <span *ngIf="clientForm.get('email').hasError('required')">Email is required!</span>
                        <span *ngIf="clientForm.get('email').hasError('pattern')">Email is invalid!</span>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 form-group">
                <div class="actions">
                    <button>
                      <input #uploadRef type="file" id="upload-input" accept="image/*" name="image" (change)="upload($event.target)"/>
                      <label for="upload-input"></label>
                      <img [src]="'/assets/icon/camera.png'" alt=""/>
                      {{'breed.search.action.upload' | translate}}
                    </button>
                    <button (click)="getPicture = true;">
                      <img [src]="'/assets/icon/photo.png'" alt=""/>
                      {{'breed.search.action.photo' | translate}}
                    </button>
                  </div>
                <app-get-picture *ngIf="getPicture" (closed)="getPicture = false;"
                   (captured)="capturePhoto($event)"></app-get-picture>

                <app-crop-picture *ngIf="(imageToCrop$ | async) as imageCrop" [image]="imageCrop"
                                    (cropped)="croppedImage($event)" (cancel)="croppedImage()"></app-crop-picture>
                <div class="content" #resultContainer>
                    <div class="slickContainer" appImageSlick (slideActivated)="showInfo($event)" [list]="list"></div>
                </div>
            </div>
        </div>
        <app-button class="mt-4" className="btn-warning" buttonText="ADD CLIENT"
            [disabled]="(clientForm.invalid || apiInProgress)">
        </app-button>
    </form>

    

</mat-dialog-content>