<label *ngIf="label" class="mb-0" [attr.for]="name">{{label}}</label>
<div class="position-relative">
    <div class="d-flex align-items-center custom-form-control">
        <div class="text-muted">
            <ng-content></ng-content>
        </div>
        <input class="form-control border-0" [attr.id]="label ? name : ''" [formControl]="parentFormGroup.get(name)"
            [placeholder]="placeholder">
    </div>
    <ng-container *ngIf="!apiInProgress; else loader">
        <ul class="search-suggestions" *ngIf="searchItems?.length" (keyboardNav)="activeElement($event)">
            <li *ngFor="let item of searchItems; let index = index" (click)="activeElement(index)">
                {{item}}
            </li>
        </ul>
    </ng-container>
    <ng-template #loader>
        <div class="search-suggestions text-center py-2">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </ng-template>
</div>