<ng-container *ngIf="!appointmentId; else appointmentDetail">
    <div class="container-fluid custom-padding bg-white border-xl">
        <div class="row py-3">
            <div class="col-7">
                <h4>Appointments</h4>
            </div>
            <div class="col-5">
                <div class="row no-gutters justify-content-end">
                    <div class="col-6">
                        <div class="form-group mb-0">
                            <input-dropdown placeholder="Select Appointment" [selectedValue]="'regular'"
                                [selectionList]="[{name: 'Regular Visit', value: 'regular'}, {name: 'Emergency Visit', value: 'emergency'}]">
                            </input-dropdown>
                        </div>
                    </div>
                    <div class="pl-3 pr-2">
                        <app-button className="btn-warning" buttonText="+ Add Appointments"
                            (buttonClicked)="createAppointment()">
                        </app-button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="info-container d-flex flex-wrap mx-3 py-3 w-100 shadow">
                <div class="d-flex flex-shrink-0 flex-grow-1 info-item py-3" *ngFor="let _ of [1,2,3,4,5]">
                    <div class="image"><img src="" alt=""></div>
                    <div class="content">
                        <div class="pb-2 name">Total Appointments</div>
                        <div class="d-flex align-items-baseline">
                            <h4 class="count mr-2">11</h4>
                            <div class="title text-muted">
                                Today
                                <span class="bg-primary rounded px-1 ml-1">
                                    <small class="text-white">
                                        +23%
                                    </small>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <h5>Upcoming Appointments</h5>
            </div>

            <div class="col-12 appointments-nav position-relative">
                <div class="navigate-cards prev">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </div>
                <div class="row py-3 flex-nowrap overflow-hidden">
                    <app-appointment-card class="col-3" *ngFor="let _ of [1,2,3,4,5]"></app-appointment-card>
                </div>
                <div class="navigate-cards next">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12">
                <h5>Live Appointments</h5>
            </div>

            <div class="col-12 appointments-nav position-relative">
                <div class="navigate-cards prev">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </div>
                <div class="row py-3 flex-nowrap overflow-hidden">
                    <app-appointment-card class="col-3" *ngFor="let _ of [1,2,3,4,5]"></app-appointment-card>
                </div>
                <div class="navigate-cards next">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12">
                <h5>Today <small>(11 Appointments)</small></h5>
            </div>

            <div class="col-12">
                <div class="row pb-3">
                    <app-appointment-card class="col-3 pt-3" *ngFor="let _ of [1,2,3,4,5,6,7,8]"></app-appointment-card>
                </div>
            </div>
        </div>
    </div>
</ng-container>


<ng-template #appointmentDetail>
    <app-appointment-details [appointmentId]="appointmentId"
        [ngDelayedClass]="{active: true, classList: ['d-block', 'show']}"></app-appointment-details>
</ng-template>