@import "src/styles/variables";

.heading {
    color: $label-heading-color;
    font-size: $font-size-16;
}
.txt-img-green p{
    color: #25d366;
    font-size: 16px;
    line-height: 2;
}
.address-txt {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inherit;
}
.link {
    display: flex;
    justify-content: center;
    > button {
        font-family: Noto Sans, sans-serif;
        font-size: 14px;
        padding: 10px 36px;
        background-color: #FAAA00;
        color: #fff;
        text-decoration: none;
        text-align: center;
        position: relative;
        box-shadow: 0 3px 6px #00000029;
        border-radius: 8px;
        z-index: 6;
        font-weight: bold;
        &:hover {
        &:after,
        &:before {
            content: url("/assets/img/white-paws.png");
            transition: content 500ms ease;
        }
        }
        &:after,
        &:before {
        content: url("/assets/img/brown-paws.png");
        position: absolute;
        height: 20px;
        width: 20px;
        top: 50%;
        transform: translate(0, -50%);
        }
        &:before {
        left: 6px;
        }
        &:after {
        right: 6px;
        }
        &:hover {
        &:before,
        &:after {
            color: #fff;
        }
        }
    }
}
@media only screen and (max-width: 767px) {
    .address-txt {
        white-space: inherit;
    }
}

