<figure class="text-center mt-5" (mouseover)="handleMouseOver()">
    <img class="cursor-pointer" src="assets/images/logo.svg" alt="Pet Shree logo">
    <img class="logo-compact cursor-pointer" src="assets/images/logo-compact.svg" alt="Pet Shree logo">
</figure>

<div class="negative-space"></div>

<mat-nav-list (mouseover)="handleMouseOver()">
    <mat-list-item routerLink="/dashboard" routerLinkActive="active">
        <mat-icon fontSet="material-icons-outlined">dashboard</mat-icon>
        <div class="ml-3">Dashboard</div>
        <mat-icon class="ml-auto suffix-icon" fontSet="material-icons-outlined">dashboard</mat-icon>
    </mat-list-item>
    <mat-list-item routerLink="/appointments" routerLinkActive="active">
        <mat-icon>calendar_today</mat-icon>
        <div class="ml-3">Appointments</div>
        <mat-icon class="ml-auto suffix-icon">calendar_today</mat-icon>
    </mat-list-item>
    <mat-list-item routerLink="/customers" routerLinkActive="active">
        <mat-icon fontSet="material-icons-outlined">group</mat-icon>
        <div class="ml-3">Customers</div>
        <mat-icon class="ml-auto suffix-icon" fontSet="material-icons-outlined">group</mat-icon>
    </mat-list-item>
    <mat-list-item>
        <mat-icon>receipt</mat-icon>
        <div class="ml-3">Reports</div>
        <mat-icon class="ml-auto suffix-icon">receipt</mat-icon>
    </mat-list-item>
    <mat-list-item routerLink="/settings" routerLinkActive="active">
        <mat-icon>settings</mat-icon>
        <div class="ml-3">Settings</div>
        <mat-icon class="ml-auto suffix-icon">settings</mat-icon>
    </mat-list-item>
    <mat-list-item routerLink="/ecard-config" routerLinkActive="active">
        <mat-icon>note_add</mat-icon>
        <div class="ml-3">Ecard</div>
        <mat-icon class="ml-auto suffix-icon">note_add</mat-icon>
    </mat-list-item>
</mat-nav-list>