@import "src/styles/variables";

.negative-space {
    margin-top: 6rem;
}

.mat-list-item {
    color: $white;

    &.active {
        color: $color-secondary;
        background: rgba($color: #000000, $alpha: 0.2);
    }
}

.logo-compact  {
    float: right;
    width: 30px;
    margin-right: 10px;
}

.suffix-icon {
    margin-right: -2px;
    opacity: 1;
    visibility: visible;
    transition: opacity $transition-time;
}

::ng-deep mat-drawer.mat-drawer-opened {
    .suffix-icon, .logo-compact  {
        opacity: 0;
        visibility: hidden;
    }
}
