<app-header *ngIf="disableClose" [petSwitcher]="false"></app-header>
<section class="bg-f2faff">
  <div class="main">
    <div class="about-pet-shree-div">
      <div class="row pt-5 pb-4">
        <div class="col-12 text-center">
          <h4 class="contact-us-txt">Contact Us</h4>
          <a *ngIf="!disableClose" class="close close-contact-us" mat-dialog-close>
            <span><img src="/assets/images/contact-us/close.png"/></span>
          </a>
        </div>
      </div>
      <div class="row pb-5">
        <div class="col-3 col-md-3 text-center align-self-center">
          <div class="">
            <img src="/assets/images/contact-us/mail-bird2.png" class="mw-100 w-100" />
          </div>
        </div>
        <div class="col-6 col-md-6">
          <form *ngIf="contactForm" [formGroup]="contactForm" class="container-fluid pb-5" autocomplete="off"
    (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label class="clr-blue" for="name">Name</label>
              <div class="input-group">
                <div class="input-group-prepend">
                    <div class="form-control">
                        <mat-select formControlName="titleId">
                            <mat-option *ngFor="let item of titles" [value]="item.id">{{item.title}}</mat-option>
                        </mat-select>
                    </div>
                </div>
                <input type="text" class="form-control" placeholder="Enter Name" id="name" formControlName="name"
                [ngClass]="{error: contactForm.get('name').errors && contactForm.get('name').touched}">
              </div>
              <div class="error-message">
                  <ng-container *ngIf="contactForm.get('name').errors && contactForm.get('name').touched">
                      <span>Name is required!</span>
                  </ng-container>
              </div>
            </div>
            <div class="form-group">
              <label class="clr-blue" for="email">Email</label>
              <input type="email" class="form-control" placeholder="Enter Email" id="email" formControlName="email"
              [ngClass]="{error: contactForm.get('email').errors && contactForm.get('email').touched}">
              <div class="error-message">
                  <ng-container *ngIf="contactForm.get('email').errors && contactForm.get('email').touched">
                      <span *ngIf="contactForm.get('email').hasError('required')">Email is required!</span>
                      <span *ngIf="contactForm.get('email').hasError('pattern')">Email is invalid!</span>
                  </ng-container>
              </div>
            </div>
            <div class="form-group">
              <label class="clr-blue" for="phone">Phone</label>
              <div class="input-group">
                <div class="input-group-prepend">
                    <div class="form-control">
                        <mat-select formControlName="countryId">
                            <mat-option *ngFor="let country of countries" [value]="country.id"> +{{country.code}}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
                <input type="text" class="form-control" placeholder="Enter Phone" id="phone" formControlName="phone"
                [ngClass]="{error: contactForm.get('phone').errors && contactForm.get('phone').touched}">
        </div>
        <div class="error-message">
            <ng-container *ngIf="contactForm.get('phone').errors && contactForm.get('phone').touched">
                <span>Phone number invalid!</span>
            </ng-container>
        </div>
            </div>
            <div class="form-group">
              <label class="clr-blue" for="comment">Message</label>
              <textarea class="form-control" rows="3" placeholder="Enter Message" id="comment" rows="3" formControlName="message"
                  [ngClass]="{error: contactForm.get('message').errors && contactForm.get('message').touched}"></textarea>
              <div class="error-message">
                  <ng-container *ngIf="contactForm.get('message').errors && contactForm.get('message').touched">
                      <span>Message is required!</span>
                  </ng-container>
              </div>
            </div>
            <div class="link">
              <button class="btn btn-warning">
                  Submit
              </button>
            </div>
          </form>
        </div>
        <div class="col-3 col-md-3 py-5 text-center">
          <div class="">
            <img src="/assets/images/contact-us/mail-bird3.png" class="mw-100 w-100" />
          </div>
          <div class="pt-5">
            <img src="/assets/images/contact-us/mail-bird1.png" class="mw-100 w-100 pt-5" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
