@import "src/styles/variables";

.bg-f2faff {
  background-color: #F2FAFF;
}
.main {
  margin-left: 6rem;
  margin-right: 6rem;
  // padding: 4rem 0rem 0rem 0rem;
}
.input-group-prepend {
  width: 75px;
}
.contact-us-txt {
  color: #F7B03B;
}
.bg-fceed7 {
  background-color: #FCEED7;
}
.close-contact-us {
  position: absolute;
  right: 15px;
  top: -10px;
}
.close-contact-us img {
  height: 40px;
  width: 40px;
}
.clr-blue {
  color: #02375F;
}
.paws-img img{
  height: 60px;
  width: 60px;
}
.error {
  border-color: $color-danger;
  outline: none;
  transition: $transition-time;
  box-shadow: 0 0 0 0.2rem rgba($color-danger, 0.2);

  &-message {
      color: $color-danger;
      height: 14px;
      font-size: $font-size-12;
  }
}
.link {
  display: flex;
  margin-top: 34px;
  justify-content: center;
  > button {
    font-family: Noto Sans, sans-serif;
    font-size: 14px;
    padding: 10px 36px;
    background-color: #FAAA00;
    color: #fff;
    text-decoration: none;
    text-align: center;
    position: relative;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 8px;
    z-index: 6;
    font-weight: bold;
    &:hover {
      &:after,
      &:before {
        content: url("/assets/img/white-paws.png");
        transition: content 500ms ease;
      }
    }
    &:after,
    &:before {
      content: url("/assets/img/brown-paws.png");
      position: absolute;
      height: 20px;
      width: 20px;
      top: 50%;
      transform: translate(0, -50%);
    }
    &:before {
      left: 6px;
    }
    &:after {
      right: 6px;
    }
    &:hover {
      &:before,
      &:after {
        color: #fff;
      }
    }
  }
}
@media only screen and (max-width: 992px) {
  .main {
    margin-left:3rem;
    margin-right: 3rem;
    padding: 3rem 0rem 0rem 0rem;
  }
}
@media only screen and (max-width: 767px) {
  .main {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 3rem 0rem 0rem 0rem;
  }
  .mw-100 {
    width: 100% !important;
  }
}