<app-header [petSwitcher]="false"></app-header>
<section>
  <div class="bg-img1">
    <img src="/assets/images/about-us-icons/Path_68873_1.png" class=""/>
  </div>

  <div class="main">
    <div class="about-pet-shree-div brdr-yellow">
      <div class="row">
        <div class="col-md-6 clr-blue pl-5 py-5">
          <h4 class="mb-3 paws-img">About Pet Shree <img src="/assets/img/black-paws.png" /></h4>
          <p class="mb-3">There’s nothing as exciting as getting a wholesome package of pet services with just a click. Pet Shree is a web app that provides the easiest way for you and your pets to access high-quality animal care and other pet-related services.</p>

          <p>So if you’re looking for a means of pampering your dogs and cats or you just want to share some of your special pet moments with other pet lovers and pet care providers, Pet Shree is the go-to app that provides the desired outcomes.</p>
        </div>
        <div class="col-md-6">
          <div class="bg-fceed7 radius-16 h-100">
            <img src="/assets/images/about-us-icons/fghkj.png" class="w-100" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- revolution in pet care -->
  <div class="main">
    <div class="about-pet-shree-div brdr-yellow">
      <div class="row">
        <div class="col-md-6">
          <div class="bg-f0f3f6 radius-16 h-100">
            <img src="/assets/images/about-us-icons/5867_copy1.png" class="w-100" />
          </div>
        </div>
        <div class="col-md-6 clr-blue px-5 py-5">
          <h4 class="mb-3 pt-4">Revolution in Pet Care</h4>
          <p class="mb-3">To create a revolution in pet care by safeguarding your pet’s active and healthy lifestyle. o be the most tested and trusted pet app with a touch of excellence. We work assiduously, across boundaries to make Pet Shree a globally respected pet app that inspires creative solutions.</p>
          <h4 class="mb-3">Do you want your pets to remain fit for life as a pet parent?</h4>
          <p class="mb-3">Are you always on the lookout for an interactive platform where you can connect with other pet enthusiasts across India and learn more about your favourite companions? If yes, then you’re on the right app that does all the pet-related tasks for you whenever they seem to be cumbersome. We strive to improve pets' health by helping pet parents and pet care providers stay connected.</p>
          <p class="">Whether you're in need of routine health management services, a listing of veterinary service providers, social engagement, help with adoption and other pet-associated consultations, all these can be accessed with just a few clicks.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- how pet shree help -->
  <div class="main">
    <div class="about-pet-shree-div brdr-yellow">
      <div class="row">
        <div class="col-md-6 clr-blue pl-5 py-5">
          <h4 class="mb-3">How Pet Shree Help</h4>
          <p class="mb-3">Pet Shree brings positive energy for pet owners to revamp the health goals for their dogs and cats using technology as leverage. The app supports with the following;</p>
          <ul class="pl-3">
            <li class="mb-3">
              <p><b>Health management:</b> Who says those lovely four-legged creatures don’t need medical attention? To keep them vibrant, they need regular health checkups and vaccinations just like humans. This is where Pet Shree comes in to help you manage your pet care by keeping track of records like vaccination, deworming, vet appointments, grooming, and other pet-care services.</p>
            </li>
            <li class="mb-3">
              <p><b>Listings:</b> The app helps you to find and book pet-related services (alongside their requirements) within the nearby region. It provides complete and verified profiles of Veterinary doctors and other service providers like groomers, trainers, and boarders. The bookings come with cost-effective packages, and the rating of our enlisted service providers offer reliable feedback for prospective clients.</p>
            </li>
            <li>
              <p><b>Other Consultations:</b> With the Pet Shree, pet owners can consult our pet professionals online even if they need additional consultancy services like inquiries on food and nutrition, behavior and training, pet travel or pet parenting. </p>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <div class="bg-fceed7 radius-16 h-100">
            <img src="/assets/images/about-us-icons/58009.png" class="w-100" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- meet the team -->
  <div class="bg-img-left-3">
    <img src="/assets/images/about-us-icons/Path_68872.png" class=""/>
  </div>
  <div class="main">
    <div class="about-pet-shree-div brdr-yellow">
      <div class="row">
        <div class="col-12 text-center clr-blue py-5"><h3>Meet The Team</h3></div>
        <div class="col-md-4 z-index-2 clr-blue py-5">
          <div class="meet-the-team text-center">
            <img src="/assets/images/default-profile.png" />
            <h4 class="py-2">Name</h4>
            <p>Our goal is to create a revolution in pet care by safeguarding your pet’s active and healthy lifestyle</p>
          </div>
        </div>
        <div class="col-md-4 clr-blue py-5">
          <div class="meet-the-team text-center">
            <img src="/assets/images/default-profile.png" />
            <h4 class="py-2">Name</h4>
            <p>Our goal is to create a revolution in pet care by safeguarding your pet’s active and healthy lifestyle</p>
          </div>
        </div>
        <div class="col-md-4 clr-blue py-5">
          <div class="meet-the-team text-center">
            <img src="/assets/images/default-profile.png" />
            <h4 class="py-2">Name</h4>
            <p>Our goal is to create a revolution in pet care by safeguarding your pet’s active and healthy lifestyle</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
