<div class="container-fluid">
    <div class="row p-sm-3">
        <div class="col-4 heading font-weight-medium">Clinic Name:</div>
        <div class="col-8 text-black font-weight-medium">{{ userDetails?.businessName }}</div>
    </div>
    <ng-container *ngFor="let address of userDetails?.businessAddress">
        <div class="row mt-3 p-sm-3">
            <div class="col-4 heading font-weight-medium">Type: </div>
            <div class="col-8 text-black font-weight-medium">
                {{ address?.title }}
            </div>
        </div>
        <div class="row mt-3 p-sm-3">
            <div class="col-4 heading font-weight-medium">Business Address: </div>
            <a class="col-8 text-black font-weight-medium" [href]="address?.businessAddressLink">
                {{ address?.businessAddress }}
            </a>
        </div>
        <div class="row mt-3 p-sm-3">
            <div class="col-4 heading font-weight-medium">Timings: </div>
            <div class="col-8 text-black font-weight-medium">
                <ng-container *ngFor="let schedule of address?.timings">
                    {{ schedule.days }}
                    <div class="font-weight-light" *ngFor="let time of schedule?.time">{{time}}</div>
                </ng-container>
            </div>
        </div>
    </ng-container>
</div>