<form *ngIf="enquiryForm" [formGroup]="enquiryForm" class="container-fluid pb-5" autocomplete="off"
    (ngSubmit)="onSubmit()">
    <div class="form-group px-3">
        <label class="mb-2" for="name">Name</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="form-control">
                    <mat-select formControlName="titleId">
                        <mat-option *ngFor="let item of titles" [value]="item.id">{{item.title}}</mat-option>
                    </mat-select>
                </div>
            </div>
            <input class="form-control" type="text" id="name" placeholder="Name" formControlName="name"
                [ngClass]="{error: getEnquiryFormField('name').errors && getEnquiryFormField('name').touched}">
        </div>
        <div class="error-message">
            <ng-container *ngIf="getEnquiryFormField('name').errors && getEnquiryFormField('name').touched">
                <span>Name is required!</span>
            </ng-container>
        </div>
    </div>
    <div class="form-group px-3">
        <label class="mb-2" for="email">Email</label>
        <input class="form-control" type="email" id="email" placeholder="Email" formControlName="email"
            [ngClass]="{error: getEnquiryFormField('email').errors && getEnquiryFormField('email').touched}">
        <div class="error-message">
            <ng-container *ngIf="getEnquiryFormField('email').errors && getEnquiryFormField('email').touched">
                <span *ngIf="getEnquiryFormField('email').hasError('required')">Email is required!</span>
                <span *ngIf="getEnquiryFormField('email').hasError('pattern')">Email is invalid!</span>
            </ng-container>
        </div>
    </div>
    <div class="form-group px-3">
        <label class="mb-2" for="phone">Phone</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="form-control">
                    <mat-select formControlName="countryId">
                        <mat-option *ngFor="let country of countries" [value]="country.id"> +{{country.code}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <input class="form-control" type="tel" id="phone" placeholder="Phone" formControlName="phone"
                [ngClass]="{error: getEnquiryFormField('phone').errors && getEnquiryFormField('phone').touched}">
        </div>
        <div class="error-message">
            <ng-container *ngIf="getEnquiryFormField('phone').errors && getEnquiryFormField('phone').touched">
                <span>Phone number invalid!</span>
            </ng-container>
        </div>
    </div>
    <div class="form-group px-3 mb-4">
        <label class="mb-2" for="message">Message</label>
        <textarea class="form-control" type="text" id="message" placeholder="Enter Message" rows="3"
            formControlName="message"
            [ngClass]="{error: getEnquiryFormField('message').errors && getEnquiryFormField('message').touched}"></textarea>
        <div class="error-message">
            <ng-container *ngIf="getEnquiryFormField('message').errors && getEnquiryFormField('message').touched">
                <span>Message is required!</span>
            </ng-container>
        </div>
    </div>

    <div class="form-group pl-3">
        <button class="btn btn-warning" [disabled]="enquiryLoader">
            {{enquiryLoader ? 'Sending' : 'Send Message'}}
            <span *ngIf="enquiryLoader" class="spinner-border spinner-border-sm" role="status"
                aria-hidden="true"></span>
        </button>
    </div>
</form>
