@import "src/styles/variables";
@import "src/styles/common";

form {
  font-family: $font;
}

label {
  font-family: $font;
  color: $label-heading-color;
  font-size: $font-size-16;
  font-weight: 500;
}

.error {
  border-color: $color-danger;
  outline: none;
  transition: $transition-time;
  box-shadow: 0 0 0 0.2rem rgba($color-danger, 0.2);

  &-message {
    color: $color-danger;
    height: 14px;
    font-size: $font-size-12;
  }
}


.input-group-prepend {
  width: 75px;
}
