button.custom-one {
    color: $dialog-title-color;
    border: 1px solid rgba($dialog-title-color, 0.2);
    font-weight: 500;
    font-size: $font-size-12;
    padding: 0.5rem 1rem;
    border-radius: $border-radius-10;
    outline: none;
    background: $white;
    text-transform: uppercase;
    transition: all $transition-time;
    &:not(:disabled):active {
        transform: scale(0.96);
        transform-origin: center;
        box-shadow: 0 2px 2px rgba($dialog-title-color, 0.2);
        transition: all $transition-time;
    }

    &:not(:disabled):not(:active):hover {
        transform: scale(1.02);
        transform-origin: center;
        box-shadow: 0 2px 2px rgba($dialog-title-color, 0.2);
        transition: all $transition-time;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.8;
    }
}

button.no-outline {
    &,
    &:active,
    &:focus {
        outline: none !important;
        box-shadow: unset !important;
    }
}

.btn-effect {
    &:not(:disabled):active {
        transform: scale(0.96) translateZ(0);
        transform-origin: center;
        transition: all $transition-time;
    }

    &:not(:disabled):not(:active):hover {
        transform: scale(1.02) translateZ(0);
        transform-origin: center;
        transition: all $transition-time;
    }
}

button:disabled, .btn:disabled {
    cursor: not-allowed;
}