@import "src/styles/variables";
@import "src/styles/fonts";
@import "src/styles/width";

@import "src/styles/overrides/bootstrap";
@import "src/styles/overrides/toast";

@import "src/styles/overrides/mat-dialog";
@import "src/styles/overrides/mat-icon";
@import "src/styles/overrides/mat-select";
@import "src/styles/overrides/mat-sidenav";

*,
*::before,
*::after,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    text-rendering: optimizeLegibility;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    height: 100%;
}

.border-rounded {
    border-radius: $border-radius-16;
}

.full-screen {
    min-height: 100vh;
}

.cursor-pointer {
    cursor: pointer;
}
