// breakpoints
$media-breakpoint-sm: 576px;

// colors
$color-primary: #00375f;
$color-secondary: #efac36;
$color-danger: red;
$label-heading-color: #00375f;
$nav-item-border: #f7f7f7;
$white: #fff;
$black: #000;
$background-color: #f2faff;
$global-border: 1px solid $background-color;
$main-font-color: #2e4765;
$dialog-title-color: #00375f;

// general
$background-image: url("/assets/images/background.png");
$preloader: url("/assets/images/image-preload.svg") center/cover no-repeat;

$font-size-8: 8px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;

$border-radius-8: 8px;
$border-radius-10: 10px;
$border-radius-12: 12px;
$border-radius-16: 16px;
$border-radius-18: 18px;
$border-radius-28: 28px;

$section-width: 480px;
$transition-time: 0.3s;
$global-padding-x: 2rem;
$global-padding-y: 1rem;
$global-padding: $global-padding-y $global-padding-x;

// nav-menu
$nav-item-active: $color-secondary;
$nav-item-text: $color-primary;

// home page
$cover-height: 200px;
$cover-margin-bottom: 70px;
$cover-margin: 0 -40px $cover-margin-bottom;
$cover-border-radius: 0% 0% 50% 50% / 0% 0% 20% 20%;
$avatar-border: 3px;
$about-primary-heading: #0d375f;
$action-green: #25d366;
$action-blue: #1f52b2;

// error page
$error-page-background: #c1d3a9;

// app component
$header-height: 70px;
$tab-nav-height: calc(#{$font-size-16 * 1.54} + #{$global-padding-y * 2});
