@import "src/styles/variables";
.input-group-prepend {
    width: 80px;
}
.card-details {
    background: $white;

   border-radius: $border-radius-18;
}


.timer {
    background-color: unset;
}

.time-picker {
    right: 0;
    top: 4px;
}

.error {
    border-color: $color-danger;
    outline: none;
    transition: $transition-time;
    box-shadow: 0 0 0 0.2rem rgba($color-danger, 0.2);

    &-message {
        color: $color-danger;
        height: 1rem;
        font-size: $font-size-12;
        text-align: right;
        span {
            vertical-align: middle;
        }
    }
}

.loader {
    position: relative;
    height: 100%;
    overflow: hidden;

    &-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 56px;
        right: 0;
        background: rgba(0, 0, 0, 0.15);
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}

.remove {
    &-schedule {
        position: absolute;
        top: -8px;
        right: -8px;
    }

    &-slot {
        position: absolute;
        top: 0;
        right: 1rem;
    }
}

.chip-active {
    color: $white;
    background: $color-primary;
    transition: $transition-time all;
}

.mat-chip {
    cursor: pointer;
    height: 32px;
    width: 32px;
    transition: $transition-time all;
    display: flex;
    align-items: center;
    justify-content: center;
}


.owner {
    .details {
        .name {
            color: $dialog-title-color;
        }

        .relation {
            font-size: $font-size-14;
            line-height: $font-size-14 * 1.5;
        }

        .info {
            line-height: $font-size-14 * 1.5;
            label {
                color: $dialog-title-color;
                font-size: $font-size-14;
                margin: 0;
            }
        }
    }
}

.pets {
    border-radius: $border-radius-28;
    border: 1px solid #d3e6f4;

    .first-block {
        padding-bottom: 1rem;
        border-bottom: 2px solid $background-color;
    }

    .second-block {
        padding-top: 1rem;
    }

    .info {
        line-height: $font-size-14 * 1.5;
        label {
            color: $dialog-title-color;
            font-size: $font-size-14;
            margin: 0;
        }
    }
}
