<div style="background-color: #ececec; border-radius: 15px;" class="">
    <div class="container-fluid" style="background-color: white;border-radius: 15px;">
        <div class="row">
            <div class="col-2 p-3">
                <button class="btn btn-warning" (click)="back()">
                    Back
                </button>
            </div>
            <div class="col-10 p-3 text-center">
                <div class="heading text-center font-weight-medium">
                    <h3>Appointment Details</h3>
                </div>
            </div>
            <div class="col-12 py-3 px-0">
                <h5 class="px-3">Who is this appointment for?</h5>
                <hr class="btm-line">
            </div>
        </div>
        <div class="row">
            <div class="col-3 text-center bx-shadow">
                <figure class="cover d-flex justify-content-center align-items-end">
                    <img [src]="petDetails?.imageURL" class="avatar rounded-circle" width="100%"
                        height="auto">
                </figure>
            </div>
            <div class="col-3 text-center bx-shadow">
                <button id="file" class="button" (click)="showDiv()"><span>+</span></button>
                <p class="pb-3 mt-2 add-new-pet">Add New Pet</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 px-3 pb-2 pt-3">
                <div class="font-weight-medium">
                    <h5>Reason of Appointment</h5>
                </div>
            </div>
            <div class="col-12 px-0">
                <div class="form-group px-1">
                    <select class="form-control form-control-lg bx-shadow" id="reason" name="reason">
                        <option value="reason" *ngFor="let type of appointmentReason;">{{type.name}}</option>
                    </select>
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 px-3 pb-2 pt-3">
                <div class="font-weight-medium">
                    <h5>Type of Appointment</h5>
                </div>
            </div>
            <div class="col-12 px-0">
                <div class="form-group px-1">
                    <select class="form-control form-control-lg bx-shadow" id="type-of-app" name="type-of-app">
                        <option *ngFor="let type of appointmentType;">{{type.name}}</option>
                    </select>
                </div>
            </div>
        </div>

    </div><br>
</div>
<div class="container-fluid mt-3 bg-white" style="border-radius: 15px;">
    <div class="row">
        <div class="col-12 text-center p-3 heading">
            <h3 class="">Petshree Assurance</h3>
        </div>
    </div>
    <div class="row text-center py-3">
        <div class="col">
            <img src="assets/img/fwd-images/Doctor_Consultation1.png" class="verified-img">
            <p class="txt-verified">Verified Doctors</p>
        </div>
        <div class="col">
            <img src="assets/img/fwd-images/lock1.png" class="verified-img">
            <p class="txt-verified">100% Privacy Protection</p>
        </div>
        <div class="col">
            <img src="assets/img/fwd-images/dfgjk.png" class="verified-img">
            <p class="txt-verified">Satisfaction Guaranteed</p>
        </div>
    </div>
</div>
<div class="container-fluid p-3" style="background-color:transparent;">
    <div class=" col-12 text-center">
        <div class="link">
            <button class="btn btn-warning">
                Confirm
            </button>
        </div>
    </div>
</div>