<div class="container-fluid">
    <div *ngIf="imageList.length" class="row">
        <div class="col-6 gallery-item"
            *ngFor="let item of imageList | paginate: {id: 'galleryPagination', itemsPerPage: imagesPerPage, currentPage: currentPage, totalItems: totalItems }; let i = index;let isOdd = odd"
            [ngClass]="{'pl-4': !isOdd, 'pr-4': isOdd}">
            <figure (click)="openGallery(i + ((currentPage-1)*imagesPerPage))">
                <img [src]="item.src" alt="" [title]="item.caption">
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <pagination-controls id="galleryPagination" (pageChange)="currentPage = $event;" autoHide="true" responsive="true">
            </pagination-controls>
        </div>
    </div>
</div>