@import "src/styles/variables";

.gallery-item {
    figure {
        position: relative;
        padding-top: 100%;
        overflow: hidden;
        border-radius: $border-radius-sm;
        background: url('/assets/images/image-preload.svg') no-repeat center/cover;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transition: $transition-time all;
            transform-origin: center;

            &:hover {
                filter: brightness(80%);
                transition: $transition-time all;
                transform: scale(1.2);
                cursor: pointer;
            }
        }
    }
}
