@import "src/styles/variables";

nav {
    a {
        padding: $global-padding-y 0;
        text-decoration: none;
        color: $main-font-color;
        cursor: pointer;
        display: inline-block;
        position: relative;

        &:not(:first-child) {
            margin-left: 1rem;
        }

        &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 0;
            transform: translateX(-50%);
            border-bottom: 3px solid #efac36;
            transition: all $transition-time;
        }

        &.active {
            color: $dialog-title-color;
            font-weight: 500;

            &::after {
                width: 80%;
                transition: all $transition-time;
            }
        }
    }
}
