@import "src/styles/variables";
main {
		padding: 1.5rem 2rem !important;
		height: initial !important;
		overflow-y: initial !important;
}
.card-details {
    background: $white;

    img {
        width: 50px;
    }

    border-radius: $border-radius-18;
}

.owner {
    .details {
        .name {
            color: $dialog-title-color;
        }

        .relation {
            font-size: $font-size-14;
            line-height: $font-size-14 * 1.5;
        }

        .info {
            line-height: $font-size-14 * 1.5;
            label {
                color: $dialog-title-color;
                font-size: $font-size-14;
                margin: 0;
            }
        }
    }
}

.pets {
    border-radius: $border-radius-28;
    border: 1px solid #d3e6f4;

    .first-block {
        padding-bottom: 1rem;
        border-bottom: 2px solid $background-color;
    }

    .second-block {
        padding-top: 1rem;
    }

    .info {
        line-height: $font-size-14 * 1.5;
        label {
            color: $dialog-title-color;
            font-size: $font-size-14;
            margin: 0;
        }
    }
}
.treatment {
	vertical-align: text-bottom;
}
.nav-link, .navbar {
	padding: 0px;
}
.mat-chevron-down {
	height: 10px;
	line-height: 0px;
}
.circle-span {
	text-transform: uppercase;
	font-size:14px;
}
.circle-span span {
	height: 16px;
	width: 16px;
	margin-right: 10px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: text-bottom;
}
.clr-male {
	background: #efac39;
}
.clr-female {
	background: #608bc5;
}
.clr-crcle-black {
	background: #333333;
}
.img-height-fix {
	height: 250px;
}
.lr-padd {
	padding-left: 1rem;
	padding-right: 1rem;
	// background: #fff;
	border-top: 1px solid #f1f7fb;
	border-bottom: 1px solid #f1f7fb;
}
.brdr-left {
	border-left: 1px solid #dee2e6;
}
.add-customer-btn {
	padding: 6px 0px;
	text-align: center;
	color: #efac36;
	display: inline-block;
	font-weight: 400;
}
.add-customer-btn:hover {
	text-decoration: none;
}
.brdr-top-none {
	border-top: 0px solid;
}
.font-500 {
    font-weight: 500;
}
.pet-ben-left img {
    height: 50px;
    width: 50px;
}
.fs-12 {
    font-size: 12px;
}
.crcl-div {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 3px #ffffff;
}
.red-dot {
    background: red;
    border: 2px solid red;
}
.bl-red {
    border-left: 3px solid red;
    border-bottom: 1px solid #f2fafe;
}
.blue-dot {
    background: blue;
    border: 2px solid blue;
}
.bl-blue {
    border-left: 3px solid blue;
    border-bottom: 1px solid #f2fafe;
}
.yellow-dot {
    background: #efac36;
    border: 2px solid #efac36;
}
.bl-yellow {
    border-left: 3px solid #efac36;
    border-bottom: 1px solid #f2fafe;
}
.pink-dot {
    background: #ea4d82;
    border: 2px solid #ea4d82;
}
.bl-pink {
    border-left: 3px solid #ea4d82;
    border-bottom: 1px solid #f2fafe;
}
.text-blue {
    color: #2e4765;
}
.btn-reschedule {
    color: #2e4765;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
    border: 1px solid #ecf0f3;
    padding: 10px 15px;
    border-radius: 8px;
}
.btn-reschedule:hover {
    text-decoration: none;
}
.box-shadow-left {
    box-shadow: 0 5px 5px rgba(0,0,0,.15);
}
.m-hide {
    display: block;
}
.m-show {
    display: none;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300375f' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300375f' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.bg-blue {
    background: #03375f;
    border-radius: 16px;
}
.finish-setup {
    text-transform: uppercase;
    color: #efac36;
}
.get-started-btn {
    text-decoration: none;
    color: #fff;
    background: #efac39;
    padding: 8px 25px;
    text-transform: uppercase;
    border-radius: 6px;
    font-size: 12px;
}
.img-clinic-male-doc {
    position: absolute;
    left: 5%;
    width: 180px;
    top: -72px;
}
@media only screen and (max-width: 991px) {
    .img-clinic-male-doc {
        position: absolute;
        left: 0px;
        width: 150px;
        top: -50px;
    }
    .m-offset-set {
        padding-right: 15px;
    }
}
@media only screen and (max-width: 767px) {
  .m-margin-btm {
    margin-bottom: 2rem;
  }
  .m-hide {
    display: none;
  }
  .m-show {
    display: block;
  }
  .m-offset-set {
    margin-top: -75px;
    padding: 15px;
  }
  .img-clinic-male-doc {
    position: inherit;
    left: 0px;
    width: 100%;
    top: -80px;
  }
}

