<!-- <p>dashboard works! ?</p> -->
<div class="lr-padd bg-white">
	<div class="container-fluid px-0">
		<div class="row px-0">
			<div class="col-md-8 px-0 text-center">
				<p class="pt-2">{{(date$ | async) | date: 'hh:mm:ss aa'}}</p>
			</div>
			<div class="col-md-2 px-0 brdr-left text-center m-hide">
				<a href="" class="add-customer-btn btn">+ Add Customer</a>
			</div>
			<div class="col-md-2 px-0 brdr-left text-center m-hide">
				<a class="add-customer-btn" (click)="createAppointment()">+ Add Appointment</a>
			</div>
		</div>
	</div>
</div>
<div class="lr-padd bg-white m-show">
	<div id="demo" data-interval="false" class="carousel slide text-blue" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<div class="py-5">
					<div class="py-4 text-center">
						<a href="" class="add-customer-btn">+ Add Customer</a>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="py-5">
					<div class="py-4 text-center">
						<a href=""  class="add-customer-btn">+ Add Appointment</a>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="row no-gutters custom-border bottom bl-yellow">
					<div class="col-1 align-self-center text-center">
						<div class="crcl-div yellow-dot ml-1"></div>
					</div>
					<div class="col-11">
						<div class="container-fluid">
							<div class="row py-3">
								<div class="col-3 align-self-center pet-ben-left">
									<img src="/assets/img/dog.png" class="rounded-circle">
								</div>
								<div class="col-9 pet-ben-right">
									<p>Ben</p>
									<p class="fs-12">Online Consultation</p>
								</div>
							</div>
							<div class="row pb-3">
								<div class="col-6 col-lg-7 pet-owner-left">
									<p class="text-blue fs-12">Owner</p>
									<p>Shilpa Singh</p>
									<div class="my-2 pl-2">
										<a href="" class="btn-reschedule">Reschedule</a>
									</div>
								</div>
								<div class="col-6 col-lg-5 pet-owner-left">
									<p class="text-blue fs-12">Time</p>
									<p>12:30 PM</p>
									<div class="my-2 pl-2">
										<a href="" class="btn-reschedule">attend</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="row no-gutters custom-border bottom bl-red">
					<div class="col-1 align-self-center text-center">
						<div class="crcl-div red-dot ml-1"></div>
					</div>
					<div class="col-11">
						<div class="container-fluid">
							<div class="row py-3">
								<div class="col-3 align-self-center pet-ben-left">
									<img src="/assets/img/dog.png" class="rounded-circle">
								</div>
								<div class="col-9 pet-ben-right">
									<p>Ben</p>
									<p class="fs-12">Online Consultation</p>
								</div>
							</div>
							<div class="row pb-3">
								<div class="col-6 col-lg-7 pet-owner-left">
									<p class="text-blue fs-12">Owner</p>
									<p>Shilpa Singh</p>
									<div class="my-2 pl-2">
										<a href="" class="btn-reschedule">Reschedule</a>
									</div>
								</div>
								<div class="col-6 col-lg-5 pet-owner-left">
									<p class="text-blue fs-12">Time</p>
									<p>12:30 PM</p>
									<div class="my-2 pl-2">
										<a href="" class="btn-reschedule">attend</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="row no-gutters custom-border bottom bl-blue">
					<div class="col-1 align-self-center text-center">
						<div class="crcl-div blue-dot ml-1"></div>
					</div>
					<div class="col-11">
						<div class="container-fluid">
							<div class="row py-3">
								<div class="col-3 align-self-center pet-ben-left">
									<img src="/assets/img/dog.png" class="rounded-circle">
								</div>
								<div class="col-9 pet-ben-right">
									<p>Ben</p>
									<p class="fs-12">Online Consultation</p>
								</div>
							</div>
							<div class="row pb-3">
								<div class="col-6 col-lg-7 pet-owner-left">
									<p class="text-blue fs-12">Owner</p>
									<p>Shilpa Singh</p>
									<div class="my-2 pl-2">
										<a href="" class="btn-reschedule">Reschedule</a>
									</div>
								</div>
								<div class="col-6 col-lg-5 pet-owner-left">
									<p class="text-blue fs-12">Time</p>
									<p>12:30 PM</p>
									<div class="my-2 pl-2">
										<a href="" class="btn-reschedule">attend</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="row no-gutters custom-border bottom bl-pink">
					<div class="col-1 align-self-center text-center">
						<div class="crcl-div pink-dot ml-1"></div>
					</div>
					<div class="col-11">
						<div class="container-fluid">
							<div class="row py-3">
								<div class="col-3 align-self-center pet-ben-left">
									<img src="/assets/img/dog.png" class="rounded-circle">
								</div>
								<div class="col-9 pet-ben-right">
									<p>Ben</p>
									<p class="fs-12">Online Consultation</p>
								</div>
							</div>
							<div class="row pb-3">
								<div class="col-6 pet-owner-left">
									<p class="text-blue fs-12">Owner</p>
									<p>Shilpa Singh</p>
									<div class="my-2 pl-2">
										<a href="" class="btn-reschedule">Reschedule</a>
									</div>
								</div>
								<div class="col-6 pet-owner-left">
									<p class="text-blue fs-12">Time</p>
									<p>12:30 PM</p>
									<div class="my-2 pl-2">
										<a href="" class="btn-reschedule">attend</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="row no-gutters custom-border bottom bl-pink">
					<div class="col-1 align-self-center text-center">
						<div class="crcl-div pink-dot ml-1"></div>
					</div>
					<div class="col-11">
						<div class="container-fluid">
							<div class="row py-3">
								<div class="col-3 align-self-center pet-ben-left">
									<img src="/assets/img/dog.png" class="rounded-circle">
								</div>
								<div class="col-9 pet-ben-right">
									<p>Ben</p>
									<p class="fs-12">Online Consultation</p>
								</div>
							</div>
							<div class="row pb-3">
								<div class="col-6 pet-owner-left">
									<p class="text-blue fs-12">Owner</p>
									<p>Shilpa Singh</p>
									<div class="my-2 pl-2">
										<a href="" class="btn-reschedule">Reschedule</a>
									</div>
								</div>
								<div class="col-6 pet-owner-left">
									<p class="text-blue fs-12">Time</p>
									<p>12:30 PM</p>
									<div class="my-2 pl-2">
										<a href="" class="btn-reschedule">attend</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="row no-gutters custom-border bottom bl-pink">
					<div class="col-1 align-self-center text-center">
						<div class="crcl-div pink-dot ml-1"></div>
					</div>
					<div class="col-11">
						<div class="container-fluid">
							<div class="row py-3">
								<div class="col-3 align-self-center pet-ben-left">
									<img src="/assets/img/dog.png" class="rounded-circle">
								</div>
								<div class="col-9 pet-ben-right">
									<p>Ben</p>
									<p class="fs-12">Online Consultation</p>
								</div>
							</div>
							<div class="row pb-3">
								<div class="col-6 pet-owner-left">
									<p class="text-blue fs-12">Owner</p>
									<p>Shilpa Singh</p>
									<div class="my-2 pl-2">
										<a href="" class="btn-reschedule">Reschedule</a>
									</div>
								</div>
								<div class="col-6 pet-owner-left">
									<p class="text-blue fs-12">Time</p>
									<p>12:30 PM</p>
									<div class="my-2 pl-2">
										<a href="" class="btn-reschedule">attend</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<a class="carousel-control-prev" href="#demo" data-slide="prev">
			<span class="carousel-control-prev-icon"></span>
		</a>
		<a class="carousel-control-next" href="#demo" data-slide="next">
			<span class="carousel-control-next-icon"></span>
		</a>
	</div>
</div>
<div class="lr-padd brdr-top-none">
	<div class="container-fluid px-0">
		<div class="row px-0">
			<div class="col-md-8 px-0 text-center">
				<main>
					<div class="container-fluid px-0">
						<div class="row bg-blue no-gutters mb-4 mt-5 py-3">
							<!-- <div class="col-md-4">
								<img src="/assets/images/dashboard-img/clinic-male-doctor1.png" class="w-100 img-clinic-male-doc">
							</div> -->
							<div class="col-md-12 align-self-center pb-2">
								<img src="/assets/images/dashboard-img/clinic-male-doctor11.png"
									class="img-clinic-male-doc">
								<div class="offset-md-4 offset-lg-4 m-offset-set">
									<h5 class="finish-setup my-2">Finish setup your clinic account</h5>
									<p class="text-white mb-4">Invite all your customers to showcse your profile.</p>
									<a href="" class="get-started-btn">get started</a>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6 m-margin-btm">
								<div class="card-details p-4 active-items-center shadow">
									<div class="row pb-5">
										<div class="col-md-6">
											<h6 class="">Your Income</h6>
										</div>
										<div class="col-md-6">
											<div class="navbar navbar-expand ">
												<div class="collapse align-items-lg-stretch align-self-lg-stretch navbar-collapse"
													id="navbarSupportedContent">
													<ul class="navbar-nav">
														<li class="nav-item align-self-lg-center dropdown">
															<a class="nav-link text-blue" id="selectIncome"
																role="button" data-toggle="dropdown"
																aria-haspopup="true" aria-expanded="false">
																<span class="treatment">TREATMENT</span>
																<i role="img"
																	class="mat-icon notranslate large material-icons mat-icon-no-color mat-chevron-down"
																	aria-hidden="true"
																	data-mat-icon-type="font">expand_more</i>
															</a>
															<div class="dropdown-menu" aria-labelledby="selectIncome">
																<a class="dropdown-item" href="#">Action</a>
																<a class="dropdown-item" href="#">Another action</a>
															</div>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12 text-center">
											<!-- <img src="/assets/images/dashboard-img/Path_11471.png" class="w-100 img-height-fix"> -->
											<div>
												<spline-chart [chartData]="this.chartData"></spline-chart>
												<!-- <gauge-chart [chartData3]="this.chartData3"></gauge-chart> -->
											</div>
										</div>
									</div>
									<div class="row pt-3">
										<div class="col-md-6 text-left">
											<p class="circle-span mb-1"><span class="clr-female"></span>Female</p>
											<p class="circle-span"><span class="clr-male"></span>Male</p>
										</div>
										<div class="col-md-6 text-right pt-4">
											<a class="nav-link text-blue" role="button">
												<span class="treatment">View More</span>
												<i role="img"
													class="mat-icon notranslate large material-icons mat-icon-no-color mat-chevron-down"
													aria-hidden="true"
													data-mat-icon-type="font">keyboard_arrow_right</i>
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card-details p-4 active-items-center shadow">
									<div class="row pb-5">
										<div class="col-md-7">
											<h6 class="">Number of Pets</h6>
										</div>
										<div class="col-md-5">
											<div class="navbar navbar-expand">
												<div class="collapse align-items-lg-stretch align-self-lg-stretch navbar-collapse"
													id="navbarSupportedContent">
													<ul class="navbar-nav">
														<li class="nav-item align-self-lg-center dropdown">
															<a class="nav-link text-blue" id="selectIncome"
																role="button" data-toggle="dropdown"
																aria-haspopup="true" aria-expanded="false">
																<span class="treatment">TODAY</span>
																<i role="img"
																	class="mat-icon notranslate large material-icons mat-icon-no-color mat-chevron-down"
																	aria-hidden="true"
																	data-mat-icon-type="font">expand_more</i>
															</a>
															<div class="dropdown-menu" aria-labelledby="selectIncome">
																<a class="dropdown-item" href="#">Action</a>
																<a class="dropdown-item" href="#">Another action</a>
															</div>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12 text-center">
											<!-- <img src="/assets/images/dashboard-img/dfghj.png" class="w-100 img-height-fix"> -->
											<div>
												<!-- <spline-chart [chartData]="this.chartData"></spline-chart> -->
												<bar-chart [chartData2]="this.chartData2"></bar-chart>
											</div>
										</div>
									</div>
									<div class="row pt-3">
										<div class="col-md-6 text-left">
											<p class="circle-span mb-1"><span class="clr-female"></span>Female</p>
											<p class="circle-span"><span class="clr-male"></span>Male</p>
										</div>
										<div class="col-md-6 text-right pt-4">
											<a class="nav-link text-blue" role="button">
												<span class="treatment">View More</span>
												<i role="img"
													class="mat-icon notranslate large material-icons mat-icon-no-color mat-chevron-down"
													aria-hidden="true"
													data-mat-icon-type="font">keyboard_arrow_right</i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row my-4">
							<div class="col-md-6 m-margin-btm">
								<div class="card-details p-4 active-items-center shadow">
									<div class="row pb-5">
										<div class="col-md-7">
											<h6 class="">Pet's Medical Status</h6>
										</div>
										<div class="col-md-5">
											<div class="navbar navbar-expand ">
												<div class="collapse align-items-lg-stretch align-self-lg-stretch navbar-collapse"
													id="navbarSupportedContent">
													<ul class="navbar-nav">
														<li class="nav-item align-self-lg-center dropdown">
															<a class="nav-link text-blue" id="selectPet" role="button"
																data-toggle="dropdown" aria-haspopup="true"
																aria-expanded="false">
																<span class="treatment">TODAY</span>
																<i role="img"
																	class="mat-icon notranslate large material-icons mat-icon-no-color mat-chevron-down"
																	aria-hidden="true"
																	data-mat-icon-type="font">expand_more</i>
															</a>
															<div class="dropdown-menu" aria-labelledby="selectPet">
																<a class="dropdown-item" href="#">Action</a>
																<a class="dropdown-item" href="#">Another action</a>
															</div>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12 text-center">
											<!-- <img src="/assets/images/dashboard-img/Untitled_design.png" class="w-100 img-height-fix"> -->
											<div>
												<!-- <spline-chart [chartData]="this.chartData"></spline-chart> -->
												<donut-chart [chartData1]="this.chartData1"></donut-chart>
											</div>
										</div>
									</div>
									<div class="row pt-3">
										<div class="col-md-6 text-left">
											<p class="circle-span mb-1"><span class="clr-female"></span>Female</p>
											<p class="circle-span"><span class="clr-male"></span>Male</p>
										</div>
										<div class="col-md-6 text-right pt-4">
											<a class="nav-link text-blue" role="button">
												<span class="treatment">View More</span>
												<i role="img"
													class="mat-icon notranslate large material-icons mat-icon-no-color mat-chevron-down"
													aria-hidden="true"
													data-mat-icon-type="font">keyboard_arrow_right</i>
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card-details p-4 active-items-center shadow">
									<div class="row pb-5">
										<div class="col-md-7">
											<h6 class="">Booking Meter</h6>
										</div>
										<div class="col-md-5">
											<div class="navbar navbar-expand">
												<div class="collapse align-items-lg-stretch align-self-lg-stretch navbar-collapse"
													id="navbarSupportedContent">
													<ul class="navbar-nav">
														<li class="nav-item align-self-lg-center dropdown">
															<a class="nav-link text-blue" id="selectIncome"
																role="button" data-toggle="dropdown"
																aria-haspopup="true" aria-expanded="false">
																<span class="treatment">TODAY</span>
																<i role="img"
																	class="mat-icon notranslate large material-icons mat-icon-no-color mat-chevron-down"
																	aria-hidden="true"
																	data-mat-icon-type="font">expand_more</i>
															</a>
															<div class="dropdown-menu" aria-labelledby="selectIncome">
																<a class="dropdown-item" href="#">Action</a>
																<a class="dropdown-item" href="#">Another action</a>
															</div>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12 text-center">
											<!-- <img src="/assets/images/dashboard-img/Path_11472.png" class="w-100 img-height-fix"> -->
											<div>
												<spline-chart [chartData]="this.chartData"></spline-chart>
											</div>
										</div>
									</div>
									<div class="row pt-3">
										<div class="col-md-6 text-left">
											<p class="circle-span mb-1"><span class="clr-female"></span>Female</p>
											<p class="circle-span"><span class="clr-male"></span>Male</p>
										</div>
										<div class="col-md-6 text-right pt-4">
											<a class="nav-link text-blue" role="button">
												<span class="treatment">View More</span>
												<i role="img"
													class="mat-icon notranslate large material-icons mat-icon-no-color mat-chevron-down"
													aria-hidden="true"
													data-mat-icon-type="font">keyboard_arrow_right</i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row my-4">
							<div class="col-12">
								<div class="card-details p-4 active-items-center shadow">
									<div class="row pb-4">
										<div class="col-12">
											<h6 class="">TOP TREATMENT</h6>
										</div>
									</div>
									<div class="row pb-4 text-left">
										<div class="col-md-6">
											<p class="circle-span mb-2"><span
													class="clr-crcle-black"></span>consultation</p>
											<p class="circle-span"><span class="clr-crcle-black"></span>scooting</p>
										</div>
										<div class="col-md-6">
											<p class="circle-span mb-2"><span class="clr-crcle-black"></span>kidney
												failure treatment</p>
											<p class="circle-span"><span class="clr-crcle-black"></span>teeth cleaning
											</p>
										</div>
									</div>
									<div class="row">
										<div class="col-12 text-center">
											<a class="nav-link text-blue" role="button">
												<span class="treatment d-block">View More</span>
												<i role="img"
													class="mat-icon notranslate large material-icons mat-icon-no-color mat-chevron-down"
													aria-hidden="true" data-mat-icon-type="font">keyboard_arrow_down</i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</main>
			</div>
			<div class="col-md-4 px-0 bg-white box-shadow-left m-hide">
				<div class="row custom-border bottom py-2 no-gutters">
					<div class="col-md-8 no-gutters text-center">
						<p class="font-500">Upcoming Appointments</p>
					</div>
					<div class="col-md-4 no-gutters text-blue">
						<p>&lt; june 19 &gt;</p>
					</div>
				</div>
				<div class="row no-gutters custom-border bottom bl-yellow">
					<div class="col-md-1 align-self-center text-center">
						<div class="crcl-div yellow-dot ml-1"></div>
					</div>
					<div class="col-md-11">
						<div class="container-fluid">
							<div class="row py-3">
								<div class="col-md-3 col-lg-2 align-self-center pet-ben-left">
									<img src="/assets/img/dog.png" class="rounded-circle">
								</div>
								<div class="col-md-9 col-lg-10 pet-ben-right">
									<p>Ben</p>
									<p class="fs-12">Online Consultation</p>
								</div>
							</div>
							<div class="row pb-3">
								<div class="col-md-6 col-lg-7 pet-owner-left">
									<p class="text-blue fs-12">Owner</p>
									<p>Shilpa Singh</p>
									<div class="my-2 pl-3">
										<a href="" class="btn-reschedule">Reschedule</a>
									</div>
								</div>
								<div class="col-md-6 col-lg-5 pet-owner-left">
									<p class="text-blue fs-12">Time</p>
									<p>12:30 PM</p>
									<div class="my-2 pl-3">
										<a href="" class="btn-reschedule">attend</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row no-gutters custom-border bottom bl-red">
					<div class="col-md-1 align-self-center text-center">
						<div class="crcl-div red-dot ml-1"></div>
					</div>
					<div class="col-md-11">
						<div class="container-fluid">
							<div class="row py-3">
								<div class="col-md-3 col-lg-2 align-self-center pet-ben-left">
									<img src="/assets/img/dog.png" class="rounded-circle">
								</div>
								<div class="col-md-9 col-lg-10 pet-ben-right">
									<p>Ben</p>
									<p class="fs-12">Online Consultation</p>
								</div>
							</div>
							<div class="row pb-3">
								<div class="col-md-6 col-lg-7 pet-owner-left">
									<p class="text-blue fs-12">Owner</p>
									<p>Shilpa Singh</p>
									<div class="my-2 pl-3">
										<a href="" class="btn-reschedule">Reschedule</a>
									</div>
								</div>
								<div class="col-md-6 col-lg-5 pet-owner-left">
									<p class="text-blue fs-12">Time</p>
									<p>12:30 PM</p>
									<div class="my-2 pl-3">
										<a href="" class="btn-reschedule">attend</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row no-gutters custom-border bottom bl-blue">
					<div class="col-md-1 align-self-center text-center">
						<div class="crcl-div blue-dot ml-1"></div>
					</div>
					<div class="col-md-11">
						<div class="container-fluid">
							<div class="row py-3">
								<div class="col-md-3 col-lg-2 align-self-center pet-ben-left">
									<img src="/assets/img/dog.png" class="rounded-circle">
								</div>
								<div class="col-md-9 col-lg-10 pet-ben-right">
									<p>Ben</p>
									<p class="fs-12">Online Consultation</p>
								</div>
							</div>
							<div class="row pb-3">
								<div class="col-md-6 col-lg-7 pet-owner-left">
									<p class="text-blue fs-12">Owner</p>
									<p>Shilpa Singh</p>
									<div class="my-2 pl-3">
										<a href="" class="btn-reschedule">Reschedule</a>
									</div>
								</div>
								<div class="col-md-6 col-lg-5 pet-owner-left">
									<p class="text-blue fs-12">Time</p>
									<p>12:30 PM</p>
									<div class="my-2 pl-3">
										<a href="" class="btn-reschedule">attend</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row custom-border bottom py-2 no-gutters">
					<div class="col-md-12 no-gutters text-center">
						<a class="nav-link text-blue fs-12" role="button">
							<span class="treatment d-block">View More</span>
							<i role="img"
								class="mat-icon notranslate large material-icons mat-icon-no-color mat-chevron-down"
								aria-hidden="true" data-mat-icon-type="font">keyboard_arrow_down</i>
						</a>
					</div>
				</div>
				<div class="row custom-border bottom py-2 no-gutters">
					<div class="col-md-8 no-gutters text-center">
						<p class="font-500">Pending Appointments</p>
					</div>
					<div class="col-md-4 no-gutters text-blue">
						<p>&lt; june 19 &gt;</p>
					</div>
				</div>
				<div class="row no-gutters custom-border bottom bl-pink">
					<div class="col-md-1 align-self-center text-center">
						<div class="crcl-div pink-dot ml-1"></div>
					</div>
					<div class="col-md-11">
						<div class="container-fluid">
							<div class="row py-3">
								<div class="col-md-3 col-lg-2 align-self-center pet-ben-left">
									<img src="/assets/img/dog.png" class="rounded-circle">
								</div>
								<div class="col-md-9 col-lg-10 pet-ben-right">
									<p>Ben</p>
									<p class="fs-12">Online Consultation</p>
								</div>
							</div>
							<div class="row pb-3">
								<div class="col-md-6 col-lg-7 pet-owner-left">
									<p class="text-blue fs-12">Owner</p>
									<p>Shilpa Singh</p>
									<div class="my-2 pl-3">
										<a href="" class="btn-reschedule">Reschedule</a>
									</div>
								</div>
								<div class="col-md-6 col-lg-5 pet-owner-left">
									<p class="text-blue fs-12">Time</p>
									<p>12:30 PM</p>
									<div class="my-2 pl-3">
										<a href="" class="btn-reschedule">attend</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row no-gutters custom-border bottom bl-pink">
					<div class="col-md-1 align-self-center text-center">
						<div class="crcl-div pink-dot ml-1"></div>
					</div>
					<div class="col-md-11">
						<div class="container-fluid">
							<div class="row py-3">
								<div class="col-md-3 col-lg-2 align-self-center pet-ben-left">
									<img src="/assets/img/dog.png" class="rounded-circle">
								</div>
								<div class="col-md-9 col-lg-10 pet-ben-right">
									<p>Ben</p>
									<p class="fs-12">Online Consultation</p>
								</div>
							</div>
							<div class="row pb-3">
								<div class="col-md-6 col-lg-7 pet-owner-left">
									<p class="text-blue fs-12">Owner</p>
									<p>Shilpa Singh</p>
									<div class="my-2 pl-3">
										<a href="" class="btn-reschedule">Reschedule</a>
									</div>
								</div>
								<div class="col-md-6 col-lg-5 pet-owner-right">
									<p class="text-blue fs-12">Time</p>
									<p>12:30 PM</p>
									<div class="my-2 pl-3">
										<a href="" class="btn-reschedule">attend</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row no-gutters custom-border bottom bl-pink">
					<div class="col-md-1 align-self-center text-center">
						<div class="crcl-div pink-dot ml-1"></div>
					</div>
					<div class="col-md-11">
						<div class="container-fluid">
							<div class="row py-3">
								<div class="col-md-3 col-lg-2 align-self-center pet-ben-left">
									<img src="/assets/img/dog.png" class="rounded-circle">
								</div>
								<div class="col-md-9 col-lg-10 pet-ben-right">
									<p>Ben</p>
									<p class="fs-12">Online Consultation</p>
								</div>
							</div>
							<div class="row pb-3">
								<div class="col-md-6 col-lg-7 pet-owner-left">
									<p class="text-blue fs-12">Owner</p>
									<p>Shilpa Singh</p>
									<div class="my-2 pl-3">
										<a href="" class="btn-reschedule">Reschedule</a>
									</div>
								</div>
								<div class="col-md-6 col-lg-5 pet-owner-left">
									<p class="text-blue fs-12">Time</p>
									<p>12:30 PM</p>
									<div class="my-2 pl-3">
										<a href="" class="btn-reschedule">attend</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row custom-border bottom py-2 no-gutters">
					<div class="col-md-12 no-gutters text-center">
						<a class="nav-link text-blue fs-12" role="button">
							<span class="treatment d-block">View More</span>
							<i role="img"
								class="mat-icon notranslate large material-icons mat-icon-no-color mat-chevron-down"
								aria-hidden="true" data-mat-icon-type="font">keyboard_arrow_down</i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>