<!-- <p>dashboard works! ?</p> -->
<div class="lr-padd bg-white">
	<div class="container-fluid px-0">
		<div class="row px-0">
			<div class="col-md-8 px-0 text-center">
				<p class="pt-2">1:00 pm</p>
			</div>
			<div class="col-md-2 px-0 brdr-left text-center">
				<a href="" class="add-customer-btn btn">+ Add Customer</a>
			</div>
			<div class="col-md-2 px-0 brdr-left text-center">
				<a href="" class="add-customer-btn">+ Add Appointment</a>
			</div>
		</div>
	</div>
</div>
<div class="lr-padd brdr-top-none">
	<div class="container-fluid px-0">
		<div class="row px-0">
			<div class="col-md-8 px-0 text-center">
				<main>
					<div class="container-fluid px-0">
						<div class="row">
							<div class="col-md-6 m-margin-btm">
								<div class="card-details p-4 active-items-center shadow">
									<div class="row pb-5">
										<div class="col-md-7">
											<h5 class="">Your Income</h5>
										</div>
										<div class="col-md-5">
											<div class="navbar navbar-expand-lg ">
												<div class="collapse align-items-lg-stretch align-self-lg-stretch navbar-collapse"
													id="navbarSupportedContent">
													<ul class="navbar-nav">
														<li class="nav-item align-self-lg-center dropdown">
															<a class="nav-link text-blue" id="selectIncome" role="button" data-toggle="dropdown"
																aria-haspopup="true" aria-expanded="false">
																<span class="treatment">TREATMENT</span>
																<i role="img"
																	class="mat-icon notranslate large material-icons mat-icon-no-color mat-chevron-down"
																	aria-hidden="true" data-mat-icon-type="font">expand_more</i>
															</a>
															<div class="dropdown-menu" aria-labelledby="selectIncome">
																<a class="dropdown-item" href="#">Action</a>
																<a class="dropdown-item" href="#">Another action</a>
															</div>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12 text-center">
											<img src="/assets/images/dashboard-img/Path_11471.png" class="w-auto img-height-fix">
										</div>
									</div>
									<div class="row pt-3">
										<div class="col-md-6 text-left">
											<p class="circle-span mb-1"><span class="clr-female"></span>Female</p>
											<p class="circle-span"><span class="clr-male"></span>Male</p>
										</div>
										<div class="col-md-6 text-right pt-4">
											<a class="nav-link text-blue" role="button">
												<span class="treatment">View More</span>
												<i role="img"
													class="mat-icon notranslate large material-icons mat-icon-no-color mat-chevron-down"
													aria-hidden="true" data-mat-icon-type="font">keyboard_arrow_right</i>
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card-details p-4 active-items-center shadow">
									<div class="row pb-5">
										<div class="col-md-7">
											<h5 class="">Number of Pets</h5>
										</div>
										<div class="col-md-5">
											<div class="navbar navbar-expand-lg ">
												<div class="collapse align-items-lg-stretch align-self-lg-stretch navbar-collapse"
													id="navbarSupportedContent">
													<ul class="navbar-nav">
														<li class="nav-item align-self-lg-center dropdown">
															<a class="nav-link text-blue" id="selectIncome" role="button" data-toggle="dropdown"
																aria-haspopup="true" aria-expanded="false">
																<span class="treatment">TODAY</span>
																<i role="img"
																	class="mat-icon notranslate large material-icons mat-icon-no-color mat-chevron-down"
																	aria-hidden="true" data-mat-icon-type="font">expand_more</i>
															</a>
															<div class="dropdown-menu" aria-labelledby="selectIncome">
																<a class="dropdown-item" href="#">Action</a>
																<a class="dropdown-item" href="#">Another action</a>
															</div>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12 text-center">
											<img src="/assets/images/dashboard-img/dfghj.png" class="w-100 img-height-fix">
										</div>
									</div>
									<div class="row pt-3">
										<div class="col-md-6 text-left">
											<p class="circle-span mb-1"><span class="clr-female"></span>Female</p>
											<p class="circle-span"><span class="clr-male"></span>Male</p>
										</div>
										<div class="col-md-6 text-right pt-4">
											<a class="nav-link text-blue" role="button">
												<span class="treatment">View More</span>
												<i role="img"
													class="mat-icon notranslate large material-icons mat-icon-no-color mat-chevron-down"
													aria-hidden="true" data-mat-icon-type="font">keyboard_arrow_right</i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
				
						<div class="row my-4">
							<div class="col-md-6 m-margin-btm">
								<div class="card-details p-4 active-items-center shadow">
									<div class="row pb-5">
										<div class="col-md-7">
											<h5 class="">Pet's Medical Status</h5>
										</div>
										<div class="col-md-5">
											<div class="navbar navbar-expand-lg ">
												<div class="collapse align-items-lg-stretch align-self-lg-stretch navbar-collapse"
													id="navbarSupportedContent">
													<ul class="navbar-nav">
														<li class="nav-item align-self-lg-center dropdown">
															<a class="nav-link text-blue" id="selectPet" role="button" data-toggle="dropdown"
																aria-haspopup="true" aria-expanded="false">
																<span class="treatment">TODAY</span>
																<i role="img"
																	class="mat-icon notranslate large material-icons mat-icon-no-color mat-chevron-down"
																	aria-hidden="true" data-mat-icon-type="font">expand_more</i>
															</a>
															<div class="dropdown-menu" aria-labelledby="selectPet">
																<a class="dropdown-item" href="#">Action</a>
																<a class="dropdown-item" href="#">Another action</a>
															</div>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12 text-center">
											<img src="/assets/images/dashboard-img/Untitled_design.png" class="w-auto img-height-fix">
										</div>
									</div>
									<div class="row pt-3">
										<div class="col-md-6 text-left">
											<p class="circle-span mb-1"><span class="clr-female"></span>Female</p>
											<p class="circle-span"><span class="clr-male"></span>Male</p>
										</div>
										<div class="col-md-6 text-right pt-4">
											<a class="nav-link text-blue" role="button">
												<span class="treatment">View More</span>
												<i role="img"
													class="mat-icon notranslate large material-icons mat-icon-no-color mat-chevron-down"
													aria-hidden="true" data-mat-icon-type="font">keyboard_arrow_right</i>
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card-details p-4 active-items-center shadow">
									<div class="row pb-5">
										<div class="col-md-7">
											<h5 class="">Booking Meter</h5>
										</div>
										<div class="col-md-5">
											<div class="navbar navbar-expand-lg ">
												<div class="collapse align-items-lg-stretch align-self-lg-stretch navbar-collapse"
													id="navbarSupportedContent">
													<ul class="navbar-nav">
														<li class="nav-item align-self-lg-center dropdown">
															<a class="nav-link text-blue" id="selectIncome" role="button" data-toggle="dropdown"
																aria-haspopup="true" aria-expanded="false">
																<span class="treatment">TODAY</span>
																<i role="img"
																	class="mat-icon notranslate large material-icons mat-icon-no-color mat-chevron-down"
																	aria-hidden="true" data-mat-icon-type="font">expand_more</i>
															</a>
															<div class="dropdown-menu" aria-labelledby="selectIncome">
																<a class="dropdown-item" href="#">Action</a>
																<a class="dropdown-item" href="#">Another action</a>
															</div>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12 text-center">
											<img src="/assets/images/dashboard-img/Path_11472.png" class="w-auto img-height-fix">
										</div>
									</div>
									<div class="row pt-3">
										<div class="col-md-6 text-left">
											<p class="circle-span mb-1"><span class="clr-female"></span>Female</p>
											<p class="circle-span"><span class="clr-male"></span>Male</p>
										</div>
										<div class="col-md-6 text-right pt-4">
											<a class="nav-link text-blue" role="button">
												<span class="treatment">View More</span>
												<i role="img"
													class="mat-icon notranslate large material-icons mat-icon-no-color mat-chevron-down"
													aria-hidden="true" data-mat-icon-type="font">keyboard_arrow_right</i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
				
						<div class="row my-4">
							<div class="col-12">
								<div class="card-details p-4 active-items-center shadow">
									<div class="row pb-4">
										<div class="col-12">
											<h5 class="">TOP TREATMENT</h5>
										</div>
									</div>
									<div class="row pb-4 text-left">
										<div class="col-md-6">
											<p class="circle-span mb-2"><span class="clr-crcle-black"></span>consultation</p>
											<p class="circle-span"><span class="clr-crcle-black"></span>scooting</p>
										</div>
										<div class="col-md-6">
											<p class="circle-span mb-2"><span class="clr-crcle-black"></span>kidney failure treatment</p>
											<p class="circle-span"><span class="clr-crcle-black"></span>teeth cleaning</p>
										</div>
									</div>
									<div class="row">
										<div class="col-12 text-center">
											<a class="nav-link text-blue" role="button">
												<span class="treatment d-block">View More</span>
												<i role="img"
													class="mat-icon notranslate large material-icons mat-icon-no-color mat-chevron-down"
													aria-hidden="true" data-mat-icon-type="font">keyboard_arrow_down</i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</main>
			</div>
			<div class="col-md-4 px-0 brdr-left bg-white">
				<div class="row ">
					<div class="col-md-8 no-gutters">
						<h5>Upcoming Appointments</h5>
					</div>
					<div class="col-md-4 no-gutters">
						<p>&lt; june 19 &gt;</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
