<label *ngIf="label" class="mb-0" [attr.for]="name">{{label}}</label>
<ng-container *ngIf="parentFormGroup">
    <div class="d-flex align-items-center custom-form-control">
        <input type="text" style="opacity: 0; height: 0; width: 0;" [min]="minDate" [matDatepicker]="picker"
            [formControl]="parentFormGroup.get(name)">
        <input [attr.id]="label ? name : ''" matInput type="text" class="form-control border-0 pl-0" style="cursor: default; caret-color: transparent;"
            [value]="(parentFormGroup.get(name).value | date: 'dd/MMM/y')" (click)="picker.open()"
            (keydown)="$event.preventDefault()"
            [placeholder]="placeholder"
            >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </div>
</ng-container>