<div class="card">
    <div class="card-body">
        <div class="container-fluid">
            <div class="card-details p-4 active ">
                <!-- <form class="no-outline"> -->
                <div class="row">
                    <div class="col-sm-12">
                        <input type="button" class="btn btn-color btn-large" value="Payout Settings">
                        <hr>
                    </div>
                    <div class="col-sm-7">
                        <div class="row no-gutters">
                            <div class="col-sm-10 mb-3 mt-3">
                                <h6 class="h6_color">PAYOUT BANK DETAILS</h6>
                            </div>
                            <div class="col-sm-2 icon">
                                <mat-icon class="icon_color">create</mat-icon>
                            </div>
                        </div>
                        <div class="row no-gutters">
                            <div class="col-sm-12 pay_details">
                                <div class="row no-gutters">
                                    <div class="col-sm-12 ">
                                        <div class="row no-gutters m-4">
                                            <h1 class="payout_text">PAYOUT</h1>
                                        </div>
                                        <div class="row no-gutters">
                                            <div class="col-sm-6 ml-4 mb-2">
                                                <p class="text_left">Bank Name</p>
                                            </div>
                                            <div class="col-sm-5 text-right">
                                                <p class="text_right">Paytm Payments Bank ltd.</p>
                                            </div>
                                        </div>
                                        <div class="row no-gutters">
                                            <div class="col-sm-6 ml-4 mb-2">
                                                <p class="text_left">Bank Ifsc Code</p>
                                            </div>
                                            <div class="col-sm-5 text-right">
                                                <p class="text_right">PAYTM10G9778</p>
                                            </div>
                                        </div>
                                        <div class="row no-gutters">
                                            <div class="col-sm-6 ml-4 mb-4">
                                                <p class="text_left">Bank Account Number</p>
                                            </div>
                                            <div class="col-sm-5 text-right">
                                                <p class="text_right">9988776655</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="row no-gutters">
                            <div class="col-sm-10 mb-4 mt-5">
                                <h6 class="h6_color">SETTLEMENT CYCLE</h6>
                            </div>
                        </div>
                        <div class="row no-gutters">
                            <div class="col-sm-12 pay_details">
                                <div class="row no-gutters">
                                    <div class="col-sm-12 mt-4 mb-3">
                                        <div class="row no-gutters">
                                            <div class="col-sm-6 ml-4 mb-2">
                                                <p class="text_left">Settlement Cycle</p>
                                            </div>
                                            <div class="col-sm-5 text-right">
                                                <p class="text_right">T+1 days</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- </form> -->
                </div>

            </div>

        </div>
    </div>
</div>