<ng-container *ngIf="!apiInProgress.page; else loading">

    <form *ngIf="mediaForm" class="no-outline" [formGroup]="mediaForm" autocomplete="off" novalidate>
        <div class="container-fluid custom-padding bg-white border-radius-xl" [class.loader]="apiInProgress.mediaForm"
            formArrayName="media">
            <div class="row">
                <div class="col-12 my-3 d-flex align-items-center justify-content-between">
                    <h3 class="title-color">Add Ecard Media</h3>
                    <app-button buttonText="Add" className="btn-warning btn-large" (buttonClicked)="addMediaForm()"
                        [disabled]="mediaForm.invalid"></app-button>
                </div>
            </div>
            <ng-container *ngFor="let item of mediaFormArray; let mediaFormIndex = index">
                <div class="row" [formGroupName]="mediaFormIndex">
                    <div class="col-12">
                        <div class="p-2 border my-2 rounded position-relative">
                            <div class="row">
                                <div class="col-12 col-sm-6 form-group mb-0">
                                    <label class="mb-1" for="title">Title</label>
                                    <input class="form-control" id="title" formControlName="title"
                                        placeholder="Add Title"
                                        [class.error]="mediaForm.get('media.' + mediaFormIndex + '.title').errors && mediaForm.get('media.' + mediaFormIndex + '.title').touched">
                                    <div class="error-message">
                                        <ng-container
                                            *ngIf="mediaForm.get('media.' + mediaFormIndex + '.title').errors && mediaForm.get('media.' + mediaFormIndex + '.title').touched">
                                            <span>This field is required!</span>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 form-group mb-0">
                                    <label class="mb-1" for="displayOrder">Display Order</label>
                                    <input class="form-control" id="displayOrder" formControlName="displayOrder"
                                        placeholder="Add Order"
                                        [class.error]="mediaForm.get('media.' + mediaFormIndex + '.displayOrder').errors && mediaForm.get('media.' + mediaFormIndex + '.displayOrder').touched">
                                    <div class="error-message">
                                        <ng-container
                                            *ngIf="mediaForm.get('media.' + mediaFormIndex + '.displayOrder').errors && mediaForm.get('media.' + mediaFormIndex + '.displayOrder').touched">
                                            <span
                                                *ngIf="mediaForm.get('media.' + mediaFormIndex + '.displayOrder').hasError('required')">This
                                                field is required!</span>
                                            <span
                                                *ngIf="mediaForm.get('media.' + mediaFormIndex + '.displayOrder').hasError('uniqueOrder')">This
                                                field should be unique!</span>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 form-group">
                                    <input-dropdown label="Media Type" name="docTypeId" placeholder="Select Media Type"
                                        [parentFormGroup]="mediaForm.get('media.' + mediaFormIndex)"
                                        [selectionList]="documentTypes">
                                    </input-dropdown>
                                </div>
                                <div *ngIf="galleryDocId && mediaForm.get('media.' + mediaFormIndex + '.id')?.value && mediaForm.get('media.' + mediaFormIndex + '.docTypeId')?.value == galleryDocId"
                                    class="col-12 col-sm-6 form-group mb-2">
                                    <div class="d-flex justify-content-between mb-1">
                                        <label class="mb-0" for="certificate">
                                            <span> Upload Image </span>
                                        </label>
                                        <div *ngIf="apiInProgress.image.has(mediaForm.get('media.' + mediaFormIndex + '.id').value)"
                                            class="d-flex align-items-center justify-content-center">
                                            <span class="mr-1">Uploading</span>
                                            <mat-spinner diameter="20"></mat-spinner>
                                        </div>
                                    </div>
                                    <input type="file" class="form-control" id="certificate"
                                        placeholder="Add Certificate" [disabled]="apiInProgress.image.has(mediaForm.get('media.' + mediaFormIndex + '.id').value)" multiple
                                        style="padding-top: .186rem"
                                        (input)="uploadImage($event.target.files, inputRef, mediaForm.get('media.' + mediaFormIndex))"
                                        accept="image/*" #inputRef>
                                    <div class="error-message">
                                        <a *ngIf="mediaForm.get('media.' + mediaFormIndex + '.image').value"
                                            class="text-warning text-decoration-none cursor-pointer"
                                            [href]="mediaForm.get('media.' + mediaFormIndex + '.image').value"
                                            target="_blank">View Uploaded Image</a>
                                    </div>
                                </div>
                                <div *ngIf="youtubeDocId && mediaForm.get('media.' + mediaFormIndex + '.docTypeId')?.value == youtubeDocId"
                                    class="col-12 col-sm-6 form-group mb-0">
                                    <label class="mb-0" for="youtubeId">Youtube Video Id</label>
                                    <input class="form-control" id="youtubeId" formControlName="videoCode"
                                        placeholder="Youtube Video Id"
                                        [class.error]="mediaForm.get('media.' + mediaFormIndex + '.videoCode').errors && mediaForm.get('media.' + mediaFormIndex + '.videoCode').touched">
                                    <div class="error-message">
                                        <ng-container
                                            *ngIf="mediaForm.get('media.' + mediaFormIndex + '.videoCode').errors && mediaForm.get('media.' + mediaFormIndex + '.videoCode').touched">
                                            <span>This field is required!</span>
                                        </ng-container>
                                    </div>
                                </div>
                                <div *ngIf="mediaForm.get('media.' + mediaFormIndex + '.id')?.value" class="col-12 text-right">
                                    <app-button className="btn-primary btn-sm" buttonText="Update" (buttonClicked)="updateMediaMetadata(mediaForm.get('media.' + mediaFormIndex))" [disabled]="mediaForm.get('media.' + mediaFormIndex).invalid || mediaForm.get('media.' + mediaFormIndex).pristine"></app-button>
                                </div>
                            </div>
                            <mat-icon *ngIf="mediaForm.get('media.' + mediaFormIndex + '.id')?.value"
                                class="remove-slot large text-danger" matTooltip="Delete"
                                (click)="deleteDocument(mediaForm.get('media.' + mediaFormIndex + '.documentNumber')?.value, mediaFormIndex)">
                                delete</mat-icon>
                            <mat-icon *ngIf="!mediaForm.get('media.' + mediaFormIndex + '.id')?.value"
                                class="remove-slot large" matTooltip="Remove" (click)="removeMediaForm(mediaFormIndex)">close</mat-icon>
                        </div>
                    </div>
                </div>
            </ng-container>
            <div *ngIf="apiInProgress.mediaForm" class="loader-wrapper">
                <mat-spinner diameter="60"></mat-spinner>
            </div>
        </div>
    </form>

</ng-container>
<ng-template #loading>
    <div class="bg-white h-100 d-flex align-items-center justify-content-center border-radius-xl">
        <mat-spinner diameter="60"></mat-spinner>
    </div>
</ng-template>