<ng-container *ngIf="!apiInProgress.page; else loading">
    <form *ngIf="personalForm" class="no-outline" [formGroup]="personalForm" autocomplete="off">
        <div class="container-fluid custom-padding bg-white border-radius-xl"
            [class.loader]="apiInProgress.personalForm">
            <div class="row py-3">
                <div class="col-12">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="title-color">Personal Details</h3>
                        <mat-icon class="rounded-icon p-2">person</mat-icon>
                    </div>

                    <div class="display-pictures d-flex justify-content-between align-items-center">

                        <img *ngIf="!rerender.Cover" class="cover" [src]="coverPicLink" onerror="this.error = null">

                        <div class="cover-photo-button btn-effect">
                            <label for="cover-photo">Upload Cover<mat-icon class="small">add_photo_alternate</mat-icon>
                            </label>
                            <input type="file" id="cover-photo"
                                (input)="updateDisplayPicture($event.target.files, 'Cover')" accept="image/*">
                        </div>

                        <div class="avatar">
                            <img *ngIf="!rerender.Avatar" [src]="avatarPicLink"
                                onerror="this.error = null; this.src='assets/images/default-profile.png'">
                            <label class="upload" for="avatar-photo">
                                <mat-icon class="small">add_a_photo</mat-icon>
                            </label>
                            <input type="file" id="avatar-photo"
                                (input)="updateDisplayPicture($event.target.files, 'Avatar')" accept="image/*">
                        </div>

                        <div class="profile">
                            <img *ngIf="!rerender.Profile" [src]="profilePicLink"
                                onerror="this.error = null; this.src='assets/images/default-profile.png'">
                            <label class="upload" for="profile-photo">Upload
                                <mat-icon class="small">add_a_photo</mat-icon>
                            </label>
                            <input type="file" id="profile-photo"
                                (input)="updateDisplayPicture($event.target.files, 'Profile')" accept="image/*">
                        </div>

                    </div>

                    <div class="row mt-2">
                        <div class="col-12 col-sm-6 form-group mb-0">
                            <label class="mb-1" for="firstName">First Name</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="form-control">
                                        <mat-select formControlName="title">
                                            <mat-option *ngFor="let title of titleList" [value]="title.id">
                                                {{title.title}}
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                </div>
                                <input class="form-control" type="tel" id="firstName" formControlName="firstName"
                                    placeholder="Enter First Name"
                                    [class.error]="getPersonalFormField('firstName').errors && getPersonalFormField('firstName').touched">
                            </div>
                            <div class="error-message">
                                <ng-container
                                    *ngIf="getPersonalFormField('firstName').errors && getPersonalFormField('firstName').touched">
                                    <span>First name is required!</span>
                                </ng-container>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 form-group mb-0">
                            <label class="mb-1" for="lastName">Last Name</label>
                            <input class="form-control" id="lastName" formControlName="lastName"
                                placeholder="Enter Last Name"
                                [class.error]="getPersonalFormField('lastName').errors && getPersonalFormField('lastName').touched">
                            <div class="error-message">
                                <ng-container
                                    *ngIf="getPersonalFormField('lastName').errors && getPersonalFormField('lastName').touched">
                                    <span>Last name is required!</span>
                                </ng-container>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 form-group mb-0">
                            <label class="mb-1" for="userName">Username</label>
                            <input class="form-control" id="userName" formControlName="userName"
                                placeholder="Enter Username"
                                [class.error]="getPersonalFormField('userName').errors && getPersonalFormField('userName').touched">
                            <div class="error-message">
                                <ng-container
                                    *ngIf="getPersonalFormField('userName').errors && getPersonalFormField('userName').touched">
                                    <span
                                        *ngIf="getPersonalFormField('userName').errors && getPersonalFormField('userName').hasError('required')">Username
                                        is required!</span>
                                    <span
                                        *ngIf="getPersonalFormField('userName').errors && getPersonalFormField('userName').hasError('alreadyTaken')">Username
                                        is already taken!</span>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 form-group mb-0">
                            <label class="mb-1" for="mobile">Phone Number</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="form-control">
                                        <mat-select formControlName="country">
                                            <mat-option *ngFor="let country of countryList" [value]="country.id">
                                                +{{country.code}}
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                </div>
                                <input class="form-control" type="tel" id="mobile" placeholder="Enter Phone"
                                    formControlName="mobile"
                                    [class.error]="getPersonalFormField('mobile').errors && getPersonalFormField('mobile').touched">
                            </div>
                            <div class="error-message">
                                <ng-container
                                    *ngIf="getPersonalFormField('mobile').errors && getPersonalFormField('mobile').touched">
                                    <span *ngIf="getPersonalFormField('mobile').hasError('minlength')">
                                        Phone number is invalid!</span>
                                    <span *ngIf="getPersonalFormField('mobile').hasError('required')">
                                        Phone number is required!</span>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 form-group mb-0">
                            <label class="mb-1" for="email">Email</label>
                            <input class="form-control" id="email" formControlName="email" placeholder="Enter Email"
                                [class.error]="getPersonalFormField('email').errors && getPersonalFormField('email').touched">
                            <div class="error-message">
                                <ng-container
                                    *ngIf="getPersonalFormField('email').errors && getPersonalFormField('email').touched">
                                    <span>Email is invalid!</span>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 form-group">
                            <input-date label="Date of Birth" name="dob" [parentFormGroup]="personalForm"
                                [minDate]="null" placeholder="Select Date of Birth">
                            </input-date>
                        </div>
                        <div class="col-12 col-sm-6 form-group">
                            <input-dropdown label="Gender" name="gender" placeholder="Select Gender"
                                [parentFormGroup]="personalForm"
                                [selectionList]="genderList">
                            </input-dropdown>
                        </div>
                        <div class="col-12 form-group">
                            <label class="mb-2" for="bio">Bio</label>
                            <textarea class="form-control custom-scrollbar textarea-min-height" type="text" id="bio"
                                formControlName="bio" placeholder="Enter Bio" rows="1" formControlName="bio"
                                cdkTextareaAutosize #autosize="cdkTextareaAutosize"></textarea>
                        </div>
                        <div class="col-12 text-right">
                            <app-button className="btn-warning btn-large" buttonText="Save"
                                (buttonClicked)="onSubmit('personalForm')"
                                [disabled]="personalForm.invalid || personalForm.pristine">
                            </app-button>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="apiInProgress.personalForm" class="loader-wrapper">
                <mat-spinner diameter="60"></mat-spinner>
            </div>
        </div>
    </form>

    <form *ngIf="professionalForm" class="no-outline" [formGroup]="professionalForm" autocomplete="off">
        <div class="container-fluid my-3 custom-padding bg-white border-radius-xl"
            [class.loader]="apiInProgress.professionalForm">
            <div class="row py-3">
                <div class="col-12">
                    <h3 class="title-color">Professional Details</h3>
                    <div class="row mt-3">
                        <div class="col-12 col-sm-6 form-group mb-0">
                            <label class="mb-1" for="experience">Total years of Experience</label>
                            <input class="form-control" id="experience" formControlName="userExperience"
                                placeholder="Enter Total years of Experience"
                                [class.error]="getProfessionalFormField('userExperience').errors && getProfessionalFormField('userExperience').touched">
                            <div class="error-message">
                                <ng-container
                                    *ngIf="getProfessionalFormField('userExperience').errors && getProfessionalFormField('userExperience').touched">
                                    <span>This field is required!</span>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 form-group mb-0">
                            <label class="mb-1" for="charges">Charges (per meeting)</label>
                            <input class="form-control" id="charges" formControlName="userCharges"
                                placeholder="Eg: ₹400"
                                [class.error]="getProfessionalFormField('userCharges').errors && getProfessionalFormField('userCharges').touched">
                            <div class="error-message">
                                <ng-container
                                    *ngIf="getProfessionalFormField('userCharges').errors && getProfessionalFormField('userCharges').touched">
                                    <span>This field is required!</span>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 form-group mb-0">
                            <label class="mb-1" for="chargesSlot">Slots <small>(minutes)</small></label>
                            <input class="form-control" id="chargesSlot" formControlName="chargesSlotInMin"
                                placeholder="Eg: 30"
                                [class.error]="getProfessionalFormField('chargesSlotInMin').errors && getProfessionalFormField('chargesSlotInMin').touched">
                            <div class="error-message">
                                <ng-container
                                    *ngIf="getProfessionalFormField('chargesSlotInMin').errors && getProfessionalFormField('chargesSlotInMin').touched">
                                    <span>This field is required!</span>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 form-group">
                            <div class="d-flex justify-content-between mb-1">
                                <label class="mb-0" for="certificate">
                                    <span> Add Certificate </span>
                                </label>
                                <div *ngIf="apiInProgress.certificates"
                                    class="d-flex align-items-center justify-content-center"> <span
                                        class="mr-1">Uploading</span>
                                    <mat-spinner diameter="20"></mat-spinner>
                                </div>
                            </div>
                            <input type="file" class="form-control" id="certificate" placeholder="Add Certificate"
                                [disabled]="apiInProgress.certificates" multiple style="padding-top: .186rem"
                                (input)="uploadCertificates($event.target.files, inputRef)" accept="image/*" #inputRef>
                            <div class="error-message">
                                <a *ngIf="certificatesLink?.length"
                                    class="text-warning text-decoration-none cursor-pointer"
                                    (click)="viewCertificates()">View Certificates</a>
                            </div>
                        </div>
                        <div class="col-12 text-right">
                            <app-button className="btn-warning btn-large" buttonText="Save"
                                (buttonClicked)="onSubmit('professionalForm')"
                                [disabled]="professionalForm.invalid || professionalForm.pristine">
                            </app-button>
                        </div>
                    </div>
                </div>

                <div *ngIf="apiInProgress.professionalForm" class="loader-wrapper">
                    <mat-spinner diameter="60"></mat-spinner>
                </div>
            </div>
        </div>
    </form>
</ng-container>

<ng-template #loading>
    <div class="bg-white h-100 d-flex align-items-center justify-content-center border-radius-xl">
        <mat-spinner diameter="60"></mat-spinner>
    </div>
</ng-template>

<!-- <div class="container-fluid mt-3 custom-padding bg-white border-radius-xl">
        <div class="row py-3">
            <div class="col-12">
                <h3 class="title-color">Professional Details</h3>
                <div class="row mt-2">
                    <div class="col-12 col-sm-6 form-group">
                        <label class="mb-1" for="experience">Total years of Experience</label>
                        <input class="form-control" id="experience" formControlName="experience"
                            placeholder="Enter Total years of Experience">
                    </div>
                    <div class="col-12 col-sm-6 form-group">
                        <label class="mb-1" for="charges">Charges (per meeting)</label>
                        <input class="form-control" id="charges" formControlName="charges" placeholder="Ex: ₹400">
                    </div>
                    <div class="col-12 col-sm-6 form-group">
                        <label class="mb-1" for="certificate">Add Certificate</label>
                        <input type="file" class="form-control" id="certificate" formControlName="certificate"
                            placeholder="Add Certificate" multiple>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-3 custom-padding bg-white border-radius-xl">
        <div class="row py-3">
            <div class="col-12">
                <h3 class="title-color">Clinic & Schedule Details</h3>
                <div class="row mt-2">
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12 col-sm-6 form-group">
                <label class="mb-1" for="clinicName">Clinic Name</label>
                <input class="form-control" id="clinicName" formControlName="clinicName"
                    placeholder="Enter Clinic Name">
            </div>
            <div class="col-12 col-sm-6 form-group">
                <label class="mb-1" for="clinicPhone">Clinic Phone Number</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="form-control">
                            <mat-select formControlName="clinicCountryId">
                                <mat-option *ngFor="let country of countryList" [value]="country.id">
                                    +{{country.code}}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <input class="form-control" type="tel" id="clinicPhone" placeholder="Enter Clinic Phone"
                        formControlName="clinicMobile">
                </div>
            </div>
            <div class="col-12 form-group">
                <label class="mb-2" for="clinicAddress">Clinic Address</label>
                <textarea class="form-control custom-scrollbar textarea-min-height" type="text" id="clinicAddress"
                    formControlName="clinicAddress" placeholder="Enter Clinic Address" rows="1" formControlName="bio"
                    cdkTextareaAutosize #autosize="cdkTextareaAutosize"></textarea>
            </div>
            <div class="col-12 d-flex justify-content-between align-items-center">
                <h6 class="title-color mb-0">Add Schedule</h6>
                <button class="btn btn-effect text-warning no-outline px-0" (click)="addSchedule()">+ ADD ANOTHER
                    SCHEDULE</button>
            </div>

            <div class="col-12" formArrayName="schedule">
                <ng-container *ngFor="let item of scheduleList; let scheduleIndex= index">
                    <div class="row" [formGroupName]="scheduleIndex">
                        <div class="col-12 col-sm-6 form-group">
                            <label class="mb-1" [for]="'name - ' + scheduleIndex">Schedule {{scheduleIndex + 1}}</label>
                            <input class="form-control" [id]="'name - ' + scheduleIndex" formControlName="scheduleName"
                                placeholder="Ex: Monday, Tuesday, Friday">
                        </div>
                        <div class="col-12 col-sm-6" formArrayName="slots">
                            <ng-container
                                *ngFor="let item of profileForm.get('schedule.' + scheduleIndex + '.slots')['controls']; let slotsIndex = index">
                                <div class="row" [formGroupName]="slotsIndex">
                                    <div class="col-12 col-sm-6 form-group">
                                        <label class="mb-1"
                                            [for]="'from - ' + scheduleIndex + ' - ' + slotsIndex">From</label>
                                        <div class="position-relative">
                                            <input class="form-control timer"
                                                id="'from - ' + scheduleIndex + ' - ' + slotsIndex"
                                                [ngxTimepicker]="toggleTimepicker" readonly formControlName="from"
                                                placeholder="Select Time">
                                            <ngx-material-timepicker-toggle class="position-absolute time-picker"
                                                [for]="toggleTimepicker">
                                            </ngx-material-timepicker-toggle>
                                            <ngx-material-timepicker #toggleTimepicker></ngx-material-timepicker>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 form-group">
                                        <label class="mb-1"
                                            [for]="'to - ' + scheduleIndex + ' - ' + slotsIndex">To</label>
                                        <div class="position-relative">
                                            <input class="form-control timer"
                                                id="'to - ' + scheduleIndex + ' - ' + slotsIndex"
                                                [ngxTimepicker]="toggleToTimepicker" readonly formControlName="to"
                                                placeholder="Select Time">
                                            <ngx-material-timepicker-toggle class="position-absolute time-picker"
                                                [for]="toggleToTimepicker">
                                            </ngx-material-timepicker-toggle>
                                            <ngx-material-timepicker #toggleToTimepicker></ngx-material-timepicker>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                            <div class="col-12">
                                <div class="text-right">
                                    <button class="btn btn-effect text-warning no-outline px-0"
                                        (click)="addSlots(scheduleIndex)">+ ADD ANOTHER SLOT</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>

        </div>
    </div> -->

<!-- <div class="container-fluid mt-3 custom-padding bg-white border-radius-xl">
        <div class="row">
            <div class="col-12 text-right">
                <app-button className="btn-warning btn-large" buttonText="Save Profile" (buttonClicked)="onSubmit()">
                </app-button>
            </div>
        </div>
    </div> -->