@import "src/styles/variables";

.mat-drawer-content {
    button {
        position: absolute;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        top: calc(#{$header-height} + #{$tab-nav-height} - 18px);
        left: -18px;
        outline: unset;
        transform: rotate(0);
        transition: transform 0.5s ease-in-out;
        border: 1px solid $background-color;
        color: $dialog-title-color;

        &.rotate {
            transform: rotate(180deg);
            transition: transform 0.5s ease-in-out;
        }
    }
}

.content {
    background: $background-color;
    overflow: auto;
    border-top-left-radius: 51px;
    height: 100%;

    ::ng-deep router-outlet + * {
        display: block;
        
        main:not(.default) {
            padding: $global-padding;
            min-height: calc(100vh - #{$tab-nav-height} - #{$header-height} - #{$global-padding-y*2});

            section {
                min-height: inherit;
            }
        }
    }
}
