<div class="progress">
  <mat-progress-bar class="progress-1" *ngIf="loading$ | async" color="accent" mode="indeterminate"></mat-progress-bar>
</div>
<ng-container *ngIf="navStatus$ | async; else fullScreen">
    <div class="container-fluid pet-premi-grid">
        <div class="row">
            <mat-drawer-container autosize>
                <mat-drawer #drawer mode="side"
                    (mouseout)="!isDrawerStatePersistent && drawer.opened && drawer.close() && setDrawerState(false)">
                    <app-side-nav (onMouseOver)="!drawer.opened && drawer.open() && setDrawerState(false)"></app-side-nav>
                </mat-drawer>
                
                <mat-drawer-content>
                    <button class="d-flex justify-content-center align-items-center" (click)="drawer.toggle(); setDrawerState(true)"
                        [ngClass]="{rotate: !drawer.opened}">
                        <mat-icon class="">keyboard_arrow_left</mat-icon>
                    </button>
                    <div class="content">
                        <app-header1></app-header1>
                        <router-outlet></router-outlet>
                    </div>
                </mat-drawer-content>
            </mat-drawer-container>
        </div>
    </div>
</ng-container>

<ng-template #fullScreen>
  <main class="main">
    <router-outlet></router-outlet>
  </main>
</ng-template>
