.main {
  margin-left: 11rem;
  margin-right: 11rem;
  padding: 4rem;
}
.main p, .main li{
  text-align: justify;
}
@media screen and (max-width: 992px) {
  .main {
    margin-left: 0rem;
    margin-right: 0rem;
    padding: 4rem;
  }
  .main ol {
    margin-left: 16px;
  }
}
@media screen and (max-width: 767px) {
  .main {
    margin-left: 0rem;
    margin-right: 0rem;
    padding: 1.5rem;
  }
}
