@import "src/styles/variables";

.input-group-prepend {
    width: 80px;
}

.timer {
    background-color: unset;
}

.time-picker {
    right: 0;
    top: 4px;
}

.error {
    border-color: $color-danger;
    outline: none;
    transition: $transition-time;
    box-shadow: 0 0 0 0.2rem rgba($color-danger, 0.2);

    &-message {
        color: $color-danger;
        height: 1rem;
        font-size: $font-size-12;
        text-align: right;
        span {
            vertical-align: middle;
        }
    }
}

.loader {
    position: relative;
    height: 100%;
    overflow: hidden;

    &-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 56px;
        right: 0;
        background: rgba(0, 0, 0, 0.15);
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}

.remove {
    &-schedule {
        position: absolute;
        top: -8px;
        right: -8px;
    }

    &-slot {
        position: absolute;
        top: 0;
        right: 1rem;
    }
}

.chip-active {
    color: $white;
    background: $color-primary;
    transition: $transition-time all;
}

.mat-chip {
    cursor: pointer;
    height: 32px;
    width: 32px;
    transition: $transition-time all;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-large {
    background-color: #3fbaf2;
    width: 170px;
    border-radius: 15px;
    color: white;
}
.line {
    flex: 2;
}
.h6_color {
    color: rgb(107, 104, 104);
}

div.pay_details {
    // border-style: groove;
    border: 1px solid;
    border-color: rgb(221, 218, 215);
}
.icon {
    text-align: right;
}
.payout_text {
    font: bold;
    color: #3fbaf2;
}
.text_right {
    font: bold;
}
.text_left {
    color: rgb(151, 150, 150);
}
.icon_color {
    color: #3fbaf2;
}

.color-y {
    color: #efac36;
}
.input_text {
    height: 50px;
}
.cr-btn {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
}

.addAccount {
    display: none;
    box-shadow: -1px 1px 5px 1px #aaaaaa;
    position: absolute;
    right: -480px;
    top: 0px;
    overflow: hidden;
    z-index: 99999;
    height: 100vh;
    width: 30%;
}

@media Screen and (max-width: 998px) {
    
    .addAccount {
        display: none;
        position: absolute;
        overflow: hidden;
        right: 0;
        z-index: 99999;
        height: 100vh;
        width: 45%;
    }
}

@media screen and (max-width: 500px) {
    .addAccount {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .addAccount {
        width: 100%;
    }
}
