<ng-container *ngIf="!apiInProgress.page; else loading">
    <div *ngIf="canCreatePartner" class="container-fluid my-3 custom-padding bg-white border-radius-xl">
        <div class="row py-2">
            <div class="col-12 text-center">
                <app-button className="btn-warning btn-large w-md-30" buttonText="Create Partner Account"
                    (buttonClicked)="createPartnerAccount()">
                </app-button>
            </div>
        </div>
    </div>

    <form *ngIf="partnerForm" class="no-outline" [formGroup]="partnerForm" autocomplete="off">
        <div class="container-fluid my-3 custom-padding bg-white border-radius-xl"
            [class.loader]="apiInProgress.partnerForm">
            <div class="row py-3">
                <div class="col-12">
                    <h3 class="title-color">Partner Details</h3>
                    <!-- <div class="row mt-2">
                    </div> -->
                    <div class="row mt-3">
                        <div class="col-12 col-sm-6 form-group mb-0">
                            <label class="mb-1" for="businessName">Business Name</label>
                            <input class="form-control" id="businessName" formControlName="businessName"
                                placeholder="Enter Business Name">
                            <div class="error-message">
                                <ng-container
                                    *ngIf="getPartnerFormField('businessName').errors && getPartnerFormField('businessName').touched">
                                    <span>Business name is required!</span>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 form-group mb-0">
                            <label class="mb-1" for="userName">User Name</label>
                            <input class="form-control" id="userName" formControlName="userName"
                                placeholder="Enter User Name" (change)="searchUserName()">
                            <div class="error-message">
                                <ng-container
                                    *ngIf="getPartnerFormField('userName').errors && getPartnerFormField('userName').touched">
                                    <span>User name is required</span>
                                </ng-container>

                            </div>

                        </div>
                        <div class="col-12 col-sm-6 form-group mb-0">
                            <label class="mb-1" for="email">Email</label>
                            <input class="form-control" id="email" formControlName="email" placeholder="Enter Email">
                            <div class="error-message">
                                <ng-container
                                    *ngIf="getPartnerFormField('email').hasError('required') && getPartnerFormField('email').touched">
                                    <span>Email is required!</span>
                                </ng-container>
                                <ng-container *ngIf="getPartnerFormField('email').hasError('email')">
                                    <span>Email is Invalid!</span>
                                </ng-container>


                            </div>
                        </div>
                        <div class="col-12 col-sm-6 form-group mb-0">
                            <label class="mb-1" for="mobile">Partner Phone Number</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="form-control">
                                        <mat-select formControlName="country">

                                            <mat-option *ngFor="let country of countryList" [value]="country.id">
                                                +{{country.code}}
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                </div>
                                <input class="form-control" type="tel" id="mobile" placeholder="Enter Partner Phone"
                                    formControlName="mobile">
                            </div>
                            <div class="error-message">
                                <ng-container
                                    *ngIf="getPartnerFormField('mobile').errors && getPartnerFormField('mobile').touched">
                                    <span *ngIf="getPartnerFormField('mobile').hasError('minlength')">
                                        Phone number is invalid!</span>
                                    <span *ngIf="getPartnerFormField('mobile').hasError('required')">
                                        Phone number is required!</span>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-12 form-group">
                            <label class="mb-2" for="address">Partner Address</label>
                            <textarea class="form-control custom-scrollbar textarea-min-height" type="text" id="address"
                                formControlName="address" placeholder="Enter Partner Address" rows="1"
                                cdkTextareaAutosize #autosize="cdkTextareaAutosize"></textarea>
                        </div>

                        <div class="col-12 col-sm-6 form-group mb-0">
                            <label class="mb-1" for="fbLink">FaceBook Link</label>
                            <input class="form-control" id="fbLink" formControlName="fbLink"
                                placeholder="Enter FaceBook Link">
                            <div class="error-message">
                                <ng-container
                                    *ngIf="getPartnerFormField('fbLink').hasError('required') && getPartnerFormField('fbLink').touched">
                                    <span>FaceBook Link is required!</span>
                                </ng-container>
                                <ng-container *ngIf="getPartnerFormField('fbLink').hasError('pattern')">
                                    <span>FaceBook Link is Invalid!</span>
                                </ng-container>

                            </div>
                        </div>
                        <div class="col-12 col-sm-6 form-group mb-0">
                            <label class="mb-1" for="youtubeLink">Youtube Link</label>
                            <input class="form-control" id="youtubeLink" formControlName="youtubeLink"
                                placeholder="Enter Youtube Link">
                            <div class="error-message">
                                <ng-container
                                    *ngIf="getPartnerFormField('youtubeLink').hasError('required') && getPartnerFormField('youtubeLink').touched">
                                    <span>Youtube Link is required!</span>
                                </ng-container>

                                <ng-container *ngIf="getPartnerFormField('youtubeLink').hasError('pattern')">
                                    <span>Youtube Link is Invalid!</span>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 form-group mb-0">
                            <label class="mb-1" for="twitterLink">Twitter Link</label>
                            <input class="form-control" id="twitterLink" formControlName="twitterLink"
                                placeholder="Enter Twitter Link">
                            <div class="error-message">
                                <ng-container
                                    *ngIf="getPartnerFormField('twitterLink').hasError('required') && getPartnerFormField('twitterLink').touched">
                                    <span>Twitter Link is required!</span>
                                </ng-container>

                                <ng-container *ngIf="getPartnerFormField('twitterLink').hasError('pattern')">
                                    <span>Twitter Link is Invalid!</span>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 form-group mb-0">
                            <label class="mb-1" for="instagramLink">Instagram Link</label>
                            <input class="form-control" id="instagramLink" formControlName="instagramLink"
                                placeholder="Enter Twitter Link">
                            <div class="error-message">
                                <ng-container
                                    *ngIf="getPartnerFormField('instagramLink').hasError('required') && getPartnerFormField('instagramLink').touched">
                                    <span>Twitter Link is required!</span>
                                </ng-container>

                                <ng-container *ngIf="getPartnerFormField('instagramLink').hasError('pattern')">
                                    <span>Instagram Link is Invalid!</span>
                                </ng-container>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 form-group">
                            <input-dropdown label="Country" name="countryName" placeholder="Select Country"
                                [parentFormGroup]="partnerForm" [selectionList]="countryList">
                            </input-dropdown>

                        </div>
                        <div class="col-12 mt-3 text-right">
                            <app-button className="btn-warning btn-large" buttonText="Save"
                                (buttonClicked)="onSubmitPartner('partnerForm')"
                                [disabled]="partnerForm.invalid || partnerForm.pristine">
                            </app-button>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="apiInProgress.partnerForm" class="loader-wrapper">
                <mat-spinner diameter="60"></mat-spinner>
            </div>
        </div>
    </form>

    <div class="accordion" id="accordionExample">
        <div class="card" *ngFor="let clinicData of clinic; let clinicIndex=index;">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse"
                        attr.data-target="#clinic_{{clinicData?.value?.id}}" aria-expanded="false"
                        attr.aria-controls="{{clinicData?.value?.id}}">
                        {{clinicData?.value?.name ? clinicData?.value?.name : "Add New"}}
                    </button>
                </h2>
            </div>
            <div id="clinic_{{clinicData?.value?.id}}" class="collapse" aria-labelledby="headingOne"
                data-parent="#accordionExample">
                <div class="col-12 d-flex justify-content-between align-items-center">
                    <button class="btn btn-effect text-warning no-outline px-0" (click)="addClinic()">
                        + ADD ANOTHER CLINIC
                    </button>
                </div>
                <div class="card-body">
                    <form class="no-outline" [formGroup]="clinicData" autocomplete="off">
                        <div class="container-fluid my-3 custom-padding bg-white border-radius-xl"
                            [class.loader]="apiInProgress.clinicData">
                            <div class="row py-3">
                                <div class="col-12">
                                    <h3 class="title-color">Clinic & Schedule Details</h3>
                                    <div class="row mt-3">
                                        <div class="col-12 col-sm-6 form-group mb-0">
                                            <label class="mb-1" for="name">Clinic Name</label>
                                            <input class="form-control" id="name1" formControlName="name"
                                                placeholder="Enter Clinic Name">
                                            <!-- <div class="error-message">
                                                <ng-container
                                                    *ngIf="getClinicFormField('name').errors && getClinicFormField('name').touched">
                                                    <span>Clinic name is required!</span>
                                                </ng-container>
                                            </div> -->
                                        </div>
                                        <div class="col-12 col-sm-6 form-group mb-0">
                                            <label class="mb-1" for="clinicMobile">Display Order</label>
                                            <div class="input-group">
                                                <input class="form-control" id="displayOrder"
                                                    formControlName="displayOrder" placeholder="Enter Clinic Name">
                                            </div>
                                            <!-- <div class="error-message">
                                                <ng-container
                                                    *ngIf="getClinicFormField('mobile').errors && getClinicFormField('mobile').touched">
                                                    <span *ngIf="getClinicFormField('mobile').hasError('minlength')">
                                                        Phone number is invalid!</span>
                                                    <span *ngIf="getClinicFormField('mobile').hasError('required')">
                                                        Phone number is required!</span>
                                                </ng-container>
                                            </div> -->
                                        </div>
                                        <div class="col-12 form-group">
                                            <label class="mb-2" for="clinicAddress">Clinic Address</label>
                                            <textarea class="form-control custom-scrollbar textarea-min-height"
                                                type="text" id="clinicAddress" formControlName="clinicAddress"
                                                placeholder="Enter Clinic Address" rows="1" cdkTextareaAutosize
                                                #autosize="cdkTextareaAutosize"></textarea>
                                        </div>

                                        <div class="col-12 col-sm-6 form-group">
                                            <input-dropdown label="Country" name="countryName"
                                                placeholder="Select Country" [parentFormGroup]="clinicData"
                                                [selectionList]="countryList">
                                            </input-dropdown>
                                        </div>

                                        <div class="col-12 col-sm-6 form-group">
                                            <input-dropdown label="State" name="state" placeholder="Select State"
                                                [parentFormGroup]="clinicData" [selectionList]="stateList">
                                            </input-dropdown>
                                        </div>

                                        <div class="col-12 col-sm-6 form-group">
                                            <input-dropdown label="City" name="city" placeholder="Select City"
                                                [parentFormGroup]="clinicData" [selectionList]="cityList">
                                            </input-dropdown>
                                        </div>

                                        <div class="col-12 col-sm-6 form-group">
                                            <input-dropdown label="Pin Code" name="pinCode"
                                                placeholder="Select Pin Code" [parentFormGroup]="clinicData"
                                                [selectionList]="pinCodeList">
                                            </input-dropdown>
                                        </div>
                                        <div class="col-12 col-sm-6 form-group mb-0">
                                            <label class="mb-1" for="name">Latitude</label>
                                            <input class="form-control" id="latitude" formControlName="latitude"
                                                placeholder="Latitude">
                                        </div>
                                        <div class="col-12 col-sm-6 form-group mb-0">
                                            <label class="mb-1" for="name">Longitude</label>
                                            <input class="form-control" id="longitude" formControlName="longitude"
                                                placeholder="Longitude">
                                        </div>
                                        <!-- <div class="col-12 d-flex justify-content-between align-items-center">
                                            <h6 class="title-color mb-0">Add Partner Details</h6>
                                            <button class="btn btn-effect text-warning no-outline px-0"
                                                (click)="addPartner(clinicIndex)"
                                                [disabled]="clinicData.get('partnerContactNumbers').invalid">+ ADD
                                                ANOTHER PARTNER</button>
                                        </div>
                                        <div class="col-12" formArrayName="partnerContactNumbers">
                                            <ng-container
                                                *ngFor="let partner of getpartnerContactsList(clinicIndex); let partnerIndex = index">
                                                <div class="row" [formGroupName]="partnerIndex"
                                                    [class.mt-3]="partnerIndex">
                                                    <div class="col-12 position-relative">
                                                        <div class="border rounded p-2">
                                                            <div class="row">
                                                                <div class="col-12 col-sm-4 form-group mb-0">
                                                                    <label class="mb-1" for="mobile">Mobile</label>
                                                                    <div class="input-group">
                                                                        <div class="input-group-prepend">
                                                                            <div class="form-control">
                                                                                <mat-select formControlName="country">
                                                                                    <mat-option
                                                                                        *ngFor="let item of countryList"
                                                                                        [value]="item.id">
                                                                                        +{{item.code}}</mat-option>
                                                                                </mat-select>
                                                                            </div>
                                                                        </div>
                                                                        <input class="form-control" id="mobile"
                                                                            formControlName="mobile"
                                                                            placeholder="Phone Number"
                                                                            (change)="validatePartnerNumber($event, partnerIndex)"
                                                                            [class.error]="partner.get('mobile').errors && partner.get('mobile').touched">
                                                                    </div>
                                                                    <div class="error-message">
                                                                        <ng-container
                                                                            *ngIf="partner.get('mobile').errors && partner.get('mobile').touched">
                                                                            <span
                                                                                *ngIf="partner.get('mobile').hasError('minlength')">
                                                                                Phone number is invalid!</span>
                                                                            <span
                                                                                *ngIf="partner.get('mobile').hasError('required')">
                                                                                Phone number is required!</span>
                                                                        </ng-container>
                                                                    </div>
                                                                </div>
                                                                <div class="col-12 col-sm-4 form-group mb-0">
                                                                    <label class="mb-1" for="firstName">First
                                                                        Name</label>
                                                                    <div class="input-group">
                                                                        <div class="input-group-prepend">
                                                                            <div class="form-control">
                                                                                <mat-select formControlName="title">
                                                                                    <mat-option
                                                                                        *ngFor="let item of titleList"
                                                                                        [value]="item.id">
                                                                                        {{item.title}}</mat-option>
                                                                                </mat-select>
                                                                            </div>
                                                                        </div>
                                                                        <input class="form-control" id="firstName"
                                                                            formControlName="firstName"
                                                                            placeholder="First Name"
                                                                            [class.error]="partner.get('firstName').errors && partner.get('firstName').touched">
                                                                    </div>
                                                                    <div class="error-message">
                                                                        <ng-container
                                                                            *ngIf="partner.get('firstName').errors && partner.get('firstName').touched">
                                                                            <span>Partner name is required!</span>
                                                                        </ng-container>
                                                                    </div>
                                                                </div>
                                                                <div class="col-12 col-sm-4 form-group mb-0">
                                                                    <label class="mb-1" for="name">Last Name</label>
                                                                    <input class="form-control" id="name"
                                                                        formControlName="lastName"
                                                                        placeholder="Last Name">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>

                                        <div class="col-12 d-flex justify-content-between align-items-center">
                                            <h6 class="title-color mb-0">Add Schedule</h6>
                                            <button class="btn btn-effect text-warning no-outline px-0"
                                                (click)="addSchedule(clinicIndex)"
                                                [disabled]="clinicData.get('businessTimings').invalid">+ ADD
                                                ANOTHER SCHEDULE</button>
                                        </div>
                                        <div class="col-12" formArrayName="businessTimings">
                                            <ng-container
                                                *ngFor="let item of getscheduleList(clinicIndex); let scheduleIndex = index">
                                                <div class="row" [formGroupName]="scheduleIndex"
                                                    [class.mt-3]="scheduleIndex">
                                                    <div class="col-12 position-relative">
                                                        <div class="border rounded p-2">
                                                            <div class="row">
                                                                <div class="col-12 col-md-6 form-group">
                                                                    <label class="mb-1" [for]="'name - ' + scheduleIndex">Schedule
                                                                        {{scheduleIndex + 1}}</label>
                                                                    <mat-chip-list>
                                                                        <mat-chip *ngFor="let day of weekDays"
                                                                            (click)="selectWeekDays(day.value, scheduleIndex)"
                                                                            [class.chip-active]="getScheduleDayControl(scheduleIndex)?.value?.includes(day.value)">
                                                                            {{day.name}}
                                                                        </mat-chip>
                                                                    </mat-chip-list>
                                                                </div>
                                                                <div class="col-12 col-md-6" formArrayName="timeRange">
                                                                    <ng-container
                                                                        *ngFor="let item of clinicData.get('businessTimings.' + scheduleIndex + '.timeRange')['controls']; let slotsIndex = index">
                                                                        <div class="row" [formGroupName]="slotsIndex"
                                                                            [class.mt-3]="slotsIndex">
                                                                            <div class="col-12 position-relative">
                                                                                <div class="border rounded p-2">
                                                                                    <div class="row">
                                                                                        <div
                                                                                            class="col-12 col-sm-6 form-group">
                                                                                            <label class="mb-1"
                                                                                                [for]="'fromHours - ' + scheduleIndex + ' - ' + slotsIndex">From</label>
                                                                                            <div
                                                                                                class="position-relative">
                                                                                                <input
                                                                                                    class="form-control timer"
                                                                                                    id="'fromHours - ' + scheduleIndex + ' - ' + slotsIndex"
                                                                                                    [ngxTimepicker]="toggleTimepicker"
                                                                                                    readonly
                                                                                                    formControlName="fromHours"
                                                                                                    placeholder="Select Time">
                                                                                                <ngx-material-timepicker-toggle
                                                                                                    class="position-absolute time-picker"
                                                                                                    [for]="toggleTimepicker">
                                                                                                </ngx-material-timepicker-toggle>
                                                                                                <ngx-material-timepicker
                                                                                                    #toggleTimepicker>
                                                                                                </ngx-material-timepicker>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div
                                                                                            class="col-12 col-sm-6 form-group">
                                                                                            <label class="mb-1"
                                                                                                [for]="'toHours - ' + scheduleIndex + ' - ' + slotsIndex">To</label>
                                                                                            <div
                                                                                                class="position-relative">
                                                                                                <input
                                                                                                    class="form-control timer"
                                                                                                    id="'toHours - ' + scheduleIndex + ' - ' + slotsIndex"
                                                                                                    [ngxTimepicker]="toggleToTimepicker"
                                                                                                    readonly
                                                                                                    formControlName="toHours"
                                                                                                    placeholder="Select Time">
                                                                                                <ngx-material-timepicker-toggle
                                                                                                    class="position-absolute time-picker"
                                                                                                    [for]="toggleToTimepicker">
                                                                                                </ngx-material-timepicker-toggle>
                                                                                                <ngx-material-timepicker
                                                                                                    #toggleToTimepicker>
                                                                                                </ngx-material-timepicker>
                                                                                            </div>

                                                                                        </div>
                                                                                    </div>
                                                                                    <mat-icon class="remove-slot small"
                                                                                        *ngIf="slotsIndex"
                                                                                        (click)="removeSlots(scheduleIndex, slotsIndex)">
                                                                                        close</mat-icon>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </ng-container>
                                                                    <div class="col-12">
                                                                        <div class="text-right">
                                                                            <button
                                                                                class="btn btn-effect text-warning no-outline px-0"
                                                                                (click)="addSlots(scheduleIndex)"
                                                                                [disabled]="clinicData.get('businessTimings.' + scheduleIndex + '.timeRange').invalid">+
                                                                                ADD ANOTHER SLOT</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <mat-icon class="remove-schedule small" *ngIf="scheduleIndex"
                                                            (click)="removeSchedule(scheduleIndex)">close</mat-icon>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div> -->
                                        <div class="col-12 mt-3 text-right">
                                            <p>{{clinicData.value.name}}</p>
                                            <app-button className="btn-warning btn-large" buttonText="Save"
                                                (buttonClicked)="onSubmit('clinicData')"
                                                >
                                            </app-button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="apiInProgress.clinicData" class="loader-wrapper">
                                <mat-spinner diameter="60"></mat-spinner>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #loading>
    <div class="bg-white h-100 d-flex align-items-center justify-content-center border-radius-xl">
        <mat-spinner diameter="60"></mat-spinner>
    </div>
</ng-template>