<ng-container *ngIf="!apiInProgress.page; else loading">
    <div *ngIf="canCreatePartner" class="container-fluid my-3 custom-padding bg-white border-radius-xl">
        <div class="row py-2">
            <div class="col-12 text-center">
                <app-button className="btn-warning btn-large w-md-30" buttonText="Create Partner Account"
                    (buttonClicked)="createPartnerAccount()">
                </app-button>
            </div>
        </div>
    </div>

    <form  *ngIf="partnerForm" class="no-outline" [formGroup]="partnerForm" autocomplete="off">
        <div class="container-fluid my-3 custom-padding bg-white border-radius-xl"
            [class.loader]="apiInProgress.partnerForm">
            <div class="row py-3">
                <div class="col-12">
                    <h3 class="title-color">Partner Details</h3>
                    <!-- <div class="row mt-2">
                    </div> -->
                    <div class="row mt-3">
                        <div class="col-12 col-sm-6 form-group mb-0">
                            <label class="mb-1" for="businessName">Business Name</label>
                            <input class="form-control" id="businessName" formControlName="businessName"
                                placeholder="Enter Business Name"
                               >
                            <div class="error-message">
                                <ng-container
                                    *ngIf="getPartnerFormField('businessName').errors && getPartnerFormField('businessName').touched">
                                    <span>Business name is required!</span>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 form-group mb-0">
                            <label class="mb-1" for="userName">User Name</label>
                            <input class="form-control" id="userName" formControlName="userName"
                                placeholder="Enter User Name" (change)="searchUserName()"> 
                            <div class="error-message">
                                <ng-container
                                    *ngIf="getPartnerFormField('userName').errors && getPartnerFormField('userName').touched">
                                    <span>User name is required</span>
                                </ng-container>
                            
                            </div>
                        
                        </div>
                        <div class="col-12 col-sm-6 form-group mb-0">
                            <label class="mb-1" for="email">Email</label>
                            <input class="form-control" id="email" formControlName="email"
                                placeholder="Enter Email" (change)="searchUserName()">
                            <div class="error-message">
                                <ng-container
                                    *ngIf="getPartnerFormField('email').errors && getPartnerFormField('email').touched">
                                    <span>Email is required!</span>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 form-group mb-0">
                            <label class="mb-1" for="mobile">Partner Phone Number</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                     <div class="form-control">
                                        <mat-select>
                                            <mat-option *ngFor="let country of countryList" [value]="country.id">
                                                +{{country.code}}
                                            </mat-option>
                                        </mat-select>
                                    </div> 
                                </div>
                                <input class="form-control" type="tel" id="mobile" placeholder="Enter Partner Phone"
                                    formControlName="mobile"
                                    >
                            </div>
                            <div class="error-message">
                                <ng-container
                                    *ngIf="getPartnerFormField('mobile').errors && getPartnerFormField('mobile').touched">
                                    <span *ngIf="getPartnerFormField('mobile').hasError('minlength')">
                                        Phone number is invalid!</span>
                                    <span *ngIf="getPartnerFormField('mobile').hasError('required')">
                                        Phone number is required!</span>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-12 form-group">
                            <label class="mb-2" for="address">Partner Address</label>
                            <textarea class="form-control custom-scrollbar textarea-min-height" type="text"
                                id="address" formControlName="address" placeholder="Enter Partner Address"
                                rows="1" cdkTextareaAutosize #autosize="cdkTextareaAutosize"></textarea>
                        </div>

                        <div class="col-12 col-sm-6 form-group mb-0">
                            <label class="mb-1" for="fbLink">FaceBook Link</label>
                            <input class="form-control" id="fbLink" formControlName="fbLink"
                                placeholder="Enter FaceBook Link"
                                >
                            <div class="error-message">
                                <ng-container
                                    *ngIf="getPartnerFormField('fbLink').errors && getPartnerFormField('fbLink').touched">
                                    <span>FaceBook Link is required!</span>
                                </ng-container>
                            </div>
                        </div>    
                        <div class="col-12 col-sm-6 form-group mb-0">
                            <label class="mb-1" for="youtubeLink">Youtube Link</label>
                            <input class="form-control" id="youtubeLink" formControlName="youtubeLink"
                                placeholder="Enter Youtube Link">
                            <div class="error-message">
                                <ng-container
                                    *ngIf="getPartnerFormField('youtubeLink').errors && getPartnerFormField('youtubeLink').touched">
                                    <span>Youtube Link is required!</span>
                                </ng-container>
                            </div>
                        </div>    
                        <div class="col-12 col-sm-6 form-group mb-0">
                            <label class="mb-1" for="twitterLink">Twitter Link</label>
                            <input class="form-control" id="twitterLink" formControlName="twitterLink"
                                placeholder="Enter Twitter Link"
                                >
                            <div class="error-message">
                                <ng-container
                                    *ngIf="getPartnerFormField('twitterLink').errors && getPartnerFormField('twitterLink').touched">
                                    <span>Twitter Link is required!</span>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 form-group mb-0">
                            <label class="mb-1" for="instagramLink">Instagram Link</label>
                            <input class="form-control" id="instagramLink" formControlName="instagramLink"
                                placeholder="Enter Twitter Link"
                               >
                            <div class="error-message">
                                <ng-container
                                    *ngIf="getPartnerFormField('instagramLink').errors && getPartnerFormField('instagramLink').touched">
                                    <span>Twitter Link is required!</span>
                                </ng-container>
                            </div>
                        </div>
    
                        <div class="col-12 col-sm-6 form-group">
                            <input-dropdown label="Country" name="country" placeholder="Select Country"
                                [parentFormGroup]="partnerForm" [selectionList]="countryList">
                            </input-dropdown>
                        </div>
    
                      
    
    
                        
                       
                        <div class="col-12 mt-3 text-right">
                            <app-button className="btn-warning btn-large" buttonText="Save"
                                (buttonClicked)="onSubmitPartner('partnerForm')"
                                [disabled]="partnerForm.invalid || partnerForm.pristine">
                            </app-button>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="apiInProgress.partnerForm" class="loader-wrapper">
                <mat-spinner diameter="60"></mat-spinner>
            </div>
        </div>
    </form>

    <form *ngIf="clinicForm" class="no-outline" [formGroup]="clinicForm" autocomplete="off">
        <div class="container-fluid my-3 custom-padding bg-white border-radius-xl"
            [class.loader]="apiInProgress.clinicForm">
            <div class="row py-3">
                <div class="col-12">
                    <h3 class="title-color">Clinic & Schedule Details</h3>
                    <!-- <div class="row mt-2">
                    </div> -->
                    <div class="row mt-3">
                        <div class="col-12 col-sm-6 form-group mb-0">
                            <label class="mb-1" for="clinicName">Clinic Name</label>
                            <input class="form-control" id="clinicName" formControlName="clinicName"
                                placeholder="Enter Clinic Name"
                                [class.error]="getClinicFormField('clinicName').errors && getClinicFormField('clinicName').touched">
                            <div class="error-message">
                                <ng-container
                                    *ngIf="getClinicFormField('clinicName').errors && getClinicFormField('clinicName').touched">
                                    <span>Clinic name is required!</span>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 form-group mb-0">
                            <label class="mb-1" for="clinicPhone">Clinic Phone Number</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="form-control">
                                        <mat-select formControlName="clinicCountryId">
                                            <mat-option *ngFor="let country of countryList" [value]="country.id">
                                                +{{country.code}}
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                </div>
                                <input class="form-control" type="tel" id="clinicPhone" placeholder="Enter Clinic Phone"
                                    formControlName="clinicMobile"
                                    [class.error]="getClinicFormField('clinicMobile').errors && getClinicFormField('clinicMobile').touched">
                            </div>
                            <div class="error-message">
                                <ng-container
                                    *ngIf="getClinicFormField('clinicMobile').errors && getClinicFormField('clinicMobile').touched">
                                    <span *ngIf="getClinicFormField('clinicMobile').hasError('minlength')">
                                        Phone number is invalid!</span>
                                    <span *ngIf="getClinicFormField('clinicMobile').hasError('required')">
                                        Phone number is required!</span>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-12 form-group">
                            <label class="mb-2" for="clinicAddress">Clinic Address</label>
                            <textarea class="form-control custom-scrollbar textarea-min-height" type="text"
                                id="clinicAddress" formControlName="clinicAddress" placeholder="Enter Clinic Address"
                                rows="1" cdkTextareaAutosize #autosize="cdkTextareaAutosize"></textarea>
                        </div>
    
                        <div class="col-12 col-sm-6 form-group">
                            <input-dropdown label="Country" name="country" placeholder="Select Country"
                                [parentFormGroup]="clinicForm" [selectionList]="countryList">
                            </input-dropdown>
                        </div>
    
                        <div class="col-12 col-sm-6 form-group">
                            <input-dropdown label="State" name="state" placeholder="Select State"
                                [parentFormGroup]="clinicForm" [selectionList]="stateList">
                            </input-dropdown>
                        </div>
    
                        <div class="col-12 col-sm-6 form-group">
                            <input-dropdown label="City" name="city" placeholder="Select City"
                                [parentFormGroup]="clinicForm" [selectionList]="cityList">
                            </input-dropdown>
                        </div>
    
                        <div class="col-12 col-sm-6 form-group">
                            <input-dropdown label="Pin Code" name="pinCode" placeholder="Select Pin Code"
                                [parentFormGroup]="clinicForm" [selectionList]="pinCodeList">
                            </input-dropdown>
                        </div>
    
                        <div class="col-12 d-flex justify-content-between align-items-center">
                            <h6 class="title-color mb-0">Add Schedule</h6>
                            <button class="btn btn-effect text-warning no-outline px-0" (click)="addSchedule()"
                                [disabled]="clinicForm.get('schedule').invalid">+ ADD
                                ANOTHER SCHEDULE</button>
                        </div>
                        <div class="col-12" formArrayName="schedule">
                            <ng-container *ngFor="let item of scheduleList; let scheduleIndex = index">
                                <div class="row" [formGroupName]="scheduleIndex" [class.mt-3]="scheduleIndex">
                                    <div class="col-12 position-relative">
                                        <div class="border rounded p-2">
                                            <div class="row">
                                                <div class="col-12 col-md-6 form-group">
                                                    <label class="mb-1" [for]="'name - ' + scheduleIndex">Schedule
                                                        {{scheduleIndex + 1}}</label>
                                                    <mat-chip-list>
                                                        <mat-chip *ngFor="let day of weekDays"
                                                            (click)="selectWeekDays(day.value, scheduleIndex)"
                                                            [class.chip-active]="getScheduleDayControl(scheduleIndex)?.value?.includes(day.value)">
                                                            {{day.name}}
                                                        </mat-chip>
                                                    </mat-chip-list>
                                                </div>
                                                <div class="col-12 col-md-6" formArrayName="slots">
                                                    <ng-container
                                                        *ngFor="let item of clinicForm.get('schedule.' + scheduleIndex + '.slots')['controls']; let slotsIndex = index">
                                                        <div class="row" [formGroupName]="slotsIndex"
                                                            [class.mt-3]="slotsIndex">
                                                            <div class="col-12 position-relative">
                                                                <div class="border rounded p-2">
                                                                    <div class="row">
                                                                        <div class="col-12 col-sm-6 form-group">
                                                                            <label class="mb-1"
                                                                                [for]="'from - ' + scheduleIndex + ' - ' + slotsIndex">From</label>
                                                                            <div class="position-relative">
                                                                                <input class="form-control timer"
                                                                                    id="'from - ' + scheduleIndex + ' - ' + slotsIndex"
                                                                                    [ngxTimepicker]="toggleTimepicker"
                                                                                    readonly formControlName="from"
                                                                                    placeholder="Select Time">
                                                                                <ngx-material-timepicker-toggle
                                                                                    class="position-absolute time-picker"
                                                                                    [for]="toggleTimepicker">
                                                                                </ngx-material-timepicker-toggle>
                                                                                <ngx-material-timepicker
                                                                                    #toggleTimepicker>
                                                                                </ngx-material-timepicker>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12 col-sm-6 form-group">
                                                                            <label class="mb-1"
                                                                                [for]="'to - ' + scheduleIndex + ' - ' + slotsIndex">To</label>
                                                                            <div class="position-relative">
                                                                                <input class="form-control timer"
                                                                                    id="'to - ' + scheduleIndex + ' - ' + slotsIndex"
                                                                                    [ngxTimepicker]="toggleToTimepicker"
                                                                                    readonly formControlName="to"
                                                                                    placeholder="Select Time">
                                                                                <ngx-material-timepicker-toggle
                                                                                    class="position-absolute time-picker"
                                                                                    [for]="toggleToTimepicker">
                                                                                </ngx-material-timepicker-toggle>
                                                                                <ngx-material-timepicker
                                                                                    #toggleToTimepicker>
                                                                                </ngx-material-timepicker>
                                                                            </div>
    
                                                                        </div>
                                                                    </div>
                                                                    <mat-icon class="remove-slot small"
                                                                        *ngIf="slotsIndex"
                                                                        (click)="removeSlots(scheduleIndex, slotsIndex)">
                                                                        close</mat-icon>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                    <div class="col-12">
                                                        <div class="text-right">
                                                            <button class="btn btn-effect text-warning no-outline px-0"
                                                                (click)="addSlots(scheduleIndex)"
                                                                [disabled]="clinicForm.get('schedule.' + scheduleIndex + '.slots').invalid">+
                                                                ADD ANOTHER SLOT</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <mat-icon class="remove-schedule small" *ngIf="scheduleIndex"
                                            (click)="removeSchedule(scheduleIndex)">close</mat-icon>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                        <div class="col-12 mt-3 text-right">
                            <app-button className="btn-warning btn-large" buttonText="Save"
                                (buttonClicked)="onSubmit('clinicForm')"
                                [disabled]="clinicForm.invalid || clinicForm.pristine">
                            </app-button>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="apiInProgress.clinicForm" class="loader-wrapper">
                <mat-spinner diameter="60"></mat-spinner>
            </div>
        </div>
    </form>
</ng-container>

<ng-template #loading>
    <div class="bg-white h-100 d-flex align-items-center justify-content-center border-radius-xl">
        <mat-spinner diameter="60"></mat-spinner>
    </div>
</ng-template>