<div class="container-fluid border-rounded overflow-hidden">
  <figure [style.backgroundImage]="'url(' + (userDetails?.coverURL) + ')' | sanitize: 'style'"
          class="cover d-flex justify-content-center align-items-end">
    <img [src]="userDetails?.imageURL" class="avatar rounded-circle" height="140" width="140">
  </figure>

  <section class="pt-3 px-3">
    <div class="about d-flex align-items-center flex-column">
      <h4 class="font-weight-bold">
        {{userDetails?.name}}
      </h4>
      <h6 class="p-2 mt-2">
        {{userDetails?.profession}}
      </h6>
    </div>

    <div class="details mt-2 font-weight-medium">
      <a *ngIf="userDetails.phone" [href]="userDetails?.phoneLink" class="d-flex" target="_blank">
        <img class="mr-4 mt-1" height="18" src="assets/images/icons/phone.svg" width="18">
        <span>{{userDetails.phone}}</span>
      </a>
      <a *ngIf="userDetails.experience" class="d-flex" target="_blank">
        <img class="mr-4 mt-1" height="18" src="assets/images/icons/work-amber.png" width="18">
        <span>{{userDetails.experience}}</span>
      </a>
      <!-- <div *ngIf="userDetails?.userExperience" class="d-flex mt-2">
         <img class="mr-4 mt-1" src="assets/img/fwd-images/like-new.png" width="18" height="18">
         <span >{{userDetails?.userExperience }} pets helped</span>
       </div>-->
      <a *ngIf="userDetails?.email" [href]="userDetails?.emailLink" class="d-flex mt-2" target="_blank">
        <img class="mr-4 mt-1" height="18" src="assets/images/icons/mail.svg" width="18">
        <span>{{userDetails.email}}</span>
      </a>
      <a *ngIf="userDetails?.whatsAppPhone" [href]="userDetails?.whatsAppLink" class="d-flex mt-2" target="_blank">
        <img class="mr-4 mt-1" height="18" src="assets/images/icons/whatsapp.svg" width="18">
        <span>{{userDetails.whatsAppPhone}}</span>
      </a>
      <a *ngIf="userDetails?.address" [href]="userDetails?.addressLink" class="d-flex mt-2" target="_blank">
        <img class="mr-4 mt-1" height="18" src="assets/images/icons/location.svg" width="18">
        <span>{{userDetails.address}}</span>
      </a>
    </div>


    <!--        <div class="action pb-3 d-flex justify-content-center">-->
    <!-- <div class="pb-3 d-flex justify-content-center">
       <a class="btn btn-outline-primary" [href]="userDetails?.whatsShareLink" target="_blank">
           Share on WhatsApp
       </a>
       <a class="btn btn-warning link" >
           Book Appointment
       </a>
   </div>-->

    <div class="social-networks mt-2 py-0 py-sm-0">
      <div class="d-flex justify-content-center mx-auto">

        <a *ngIf="userDetails.whatsShareLink" [href]="userDetails.whatsShareLink" target="_blank">
          <img alt="WhatsAppShare" class="share-icon" src="assets/images/icons/whatsapp-share-button.svg">
        </a>
      </div>
    </div>

    <div class="row mt-3 text-center">
      <div class="col-6">
        <div class="link-secondary">
          <button (click)="showDiv()" class="btn btn-warning">Book Clinic Visit</button>
        </div>
      </div>
      <div class="col-6">
        <div class="link-primary">
          <button (click)="showDiv()" class="btn btn-warning">Consult Online</button>
        </div>
      </div>
    </div>


    <div class="social-networks mt-3">
      <div class="d-flex justify-content-between mx-auto">
        <a *ngIf="userDetails.fbLink" [href]="userDetails.fbLink" target="_blank">
          <img alt="Facebook" class="social-networks-icon" src="assets/images/icons/facebookLogo.svg">
        </a>
        <a *ngIf="userDetails.whatsAppLink" [href]="userDetails.whatsAppLink" target="_blank">
          <img alt="WhatsApp" class="social-networks-icon" src="assets/images/icons/whatsappLogo.svg">
        </a>
        <a *ngIf="userDetails.youtubeLink" [href]="userDetails.youtubeLink" target="_blank">
          <img alt="YouTube" class="social-networks-icon" src="assets/images/icons/youtubeLogo.svg">
        </a>
        <a *ngIf="userDetails.instagramLink" [href]="userDetails.instagramLink" target="_blank">
          <img alt="Instagram" class="social-networks-icon" src="assets/images/icons/instagramLogo.svg">
        </a>
        <a *ngIf="userDetails.twitterLink" [href]="userDetails.twitterLink" target="_blank">
          <img alt="Twitter" class="social-networks-icon" src="assets/images/icons/twitterLogo.svg">
        </a>

      </div>
    </div>


  </section>
</div>
