<main class="background">
    <ng-container *ngIf="!apiInProgress.userDataLoader; else loader">
        <div *ngIf="userDetails" class="d-flex justify-content-center">

            <app-nav-menu [activeLink$]="activeLink$" [hiddenNavItems]="hiddenNavItems"></app-nav-menu>

            <section class="content mt-sm-5 max-width" scrollActive>
                <div class="bg-white pb-4 border-rounded" id="home">
                    <app-home [userDetails]="userDetails"></app-home>
                </div>

                <div class="bg-white mt-3 py-4 border-rounded" id="about">
                    <app-header>About</app-header>
                    <app-about [userDetails]="userDetails"></app-about>
                </div>

                <div *ngIf="userDetails?.images?.length" class="bg-white mt-3 py-4 border-rounded" id="gallery">
                    <app-header>Gallery</app-header>
                    <app-gallery [imageList]="userDetails.images"></app-gallery>
                </div>

                <div *ngIf="userDetails?.videos?.length" class="bg-white mt-3 py-4 border-rounded" id="videos">
                    <app-header>Videos</app-header>
                    <app-videos [videos]="userDetails.videos"></app-videos>
                </div>

                <div class="bg-white mt-3 mb-5 py-4 border-rounded" id="enquiry">
                    <app-header>Enquiry</app-header>
                    <app-enquiry [enquiryLoader]="apiInProgress.enquiryLoader" [enquiryForm]="enquiryForm"
                        [titles]="titles" [countries]="countries" (onSubmitEvent)="onSubmit()"></app-enquiry>
                </div>
            </section>

        </div>
    </ng-container>
    <ng-template #loader>
        <div class="d-flex justify-content-center align-items-center full-screen">
            <div class="spinner-border text-warning" style="width: 8rem; height: 8rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </ng-template>

</main>
