<div class="card shadow p-3">
    <h5>General Info</h5>
    <div class="d-flex info mt-2">
        <div class="d-flex flex-column">
            <label>Breed</label>
            <span>Human</span>
        </div>
        <div class="d-flex flex-column shift-right">
            <label>Age</label>
            <span>21</span>
        </div>
    </div>
    <div class="d-flex info mt-2">
        <div class="d-flex flex-column">
            <label>Gender</label>
            <span>female</span>
        </div>
        <div class="d-flex flex-column shift-right">
            <label>Client</label>
            <span>Alisa</span>
        </div>
    </div>
    <div class="d-flex info mt-2">
        <div class="d-flex flex-column">
            <label>Color</label>
            <span>White</span>
        </div>
    </div>
</div>