<div class="container-fluid custom-padding bg-white border-radius-xl">
    <div class="row pt-3">
        <div class="col-7">
            <h4>Clients</h4>
        </div>
        <div class="col-5">
            <div class="row no-gutters justify-content-end">
                <div class="col-5">
                    <div class="form-group mb-0">
                        <input-dropdown placeholder="Select Appointment" [selectedValue]="'regular'"
                            [selectionList]="[{name: 'All', value: 'regular'}, {name: 'Emergency Visit', value: 'emergency'}]">
                        </input-dropdown>
                    </div>
                </div>
                <div class="px-3">
                    <app-button className="btn-warning" buttonText="+ Add Clients"
                        (buttonClicked)="openAddClientModal()">
                    </app-button>
                </div>
                <div class="d-flex align-items-center" data-toggle="collapse" data-target="#clientSearch" #clientSearchRef>
                    <mat-icon>search</mat-icon>
                </div>
            </div>
        </div>
    </div>

    <div class="collapse" id="clientSearch">
        <h5>Search</h5>
        <form *ngIf="searchForm" autocomplete="off" class="row mt-2 no-outline" [formGroup]="searchForm" (ngSubmit)="onSearch()">
            <div class="col-12 col-sm-6 form-group mb-1">
                <label class="mb-0" for="clientName">Client Name</label>
                <input class="form-control" id="clientName" formControlName="clientName"
                    placeholder="Enter Client Name">
            </div>
            <div class="col-12 col-sm-6 form-group mb-1">
                <label class="mb-0" for="petName">Pet Name</label>
                <input class="form-control" id="petName" formControlName="petName" placeholder="Enter Pet Name">
            </div>
            <div class="col-12 col-sm-6 form-group px-3 mb-1">
                <label class="mb-0" for="phone">Phone</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="form-control">
                            <mat-select formControlName="countryId">
                                <mat-option>--</mat-option>
                                <mat-option *ngFor="let country of countries" [value]="country.id">
                                    +{{country.code}}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <input class="form-control" type="tel" id="mobile" placeholder="Mobile" formControlName="mobile">
                </div>
            </div>
            <div class="col-12 col-sm-6 form-group mb-1">
                <label class="mb-0" for="email">Email</label>
                <input class="form-control" id="email" formControlName="email" placeholder="Enter Email">
            </div>
            <div class="col-12 col-sm-6">
                <input-date-range label="Last Visit" name="date" startKey="startDate" endKey="endDate"
                    [parentFormGroup]="searchForm.get('lastVisit')"></input-date-range>
            </div>
            <div class="col-12 col-sm-6 d-flex align-items-end">
                <app-button class="ml-auto" className="btn-warning" buttonText="Search" [disabled]="searchForm.invalid">
                </app-button>
                <button class="custom-one ml-2" (click)="resetSearch()" [disabled]="searchForm.untouched && searchForm.pristine">Reset Search</button>
            </div>
        </form>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <hr class="global-customer-hr">
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <app-table [loading]="apiInProgress.data" [displayedColumn]="displayedColumn" [actionItems]="actionItems"
                [dataSource]="dataSource" (actionHandler)="handleAction($event)"></app-table>
        </div>
    </div>
</div>