<div class="container-fluid brdr-top" style="background-color: white;">
    <div class="row py-3">
        <div class="col-2">
            <button class="btn btn-warning" (click)="back()">
                Back
            </button>
        </div>
        <div class="col-10 text-center heading">
            <h3> Select Date And Time</h3>
        </div>
    </div>
    <div class="row p-3">
        <div class="col-8 font-weight-medium">
            <p class="select-date">Select A Date</p>
        </div>
        <div class="col-3 text-black font-weight-medium">{{this.monthName}}</div>
    </div>
</div>
<div class="container-fluid" style="background-color: #ebebeb;">
    <div class="row p-2 no-gutters">
        <div class="col pr-2">
            <div class="bg-white borders">
                <input type="radio" class="radiobutton" name="date" id="date1" checked>
                <label class="radiolabel py-3" for="date1">{{weekDay[this.dayName].name.slice(0,3)}}<br>
                    <b>{{this.currentDate}}</b></label>
            </div>
        </div>
        <div class="col pr-2">
            <div class="bg-white borders">
                <input type="radio" class="radiobutton" name="date" id="date2">
                <label class="radiolabel py-3" for="date2">{{weekDay[this.dayName+1].name.slice(0,3)}}<br>
                    <b>{{this.currentDate+1}}</b></label>
            </div>
        </div>
        <div class="col pr-2">
            <div class="bg-white borders">
                <input type="radio" class="radiobutton" name="date" id="date3">
                <label class="radiolabel py-3" for="date3">{{weekDay[this.dayName+2].name.slice(0,3)}}<br>
                    <b>{{this.currentDate+2}}</b></label>
            </div>
        </div>
        <div class="col pr-2">
            <div class="bg-white borders">
                <input type="radio" class="radiobutton" name="date" id="date4">
                <label class="radiolabel py-3" for="date4">{{weekDay[this.dayName].name.slice(0,3)}}<br>
                    <b>{{this.currentDate+3}}</b></label>
            </div>
        </div>
        <div class="col pr-2">
            <div class="bg-white borders">
                <input type="radio" class="radiobutton" name="date" id="date5">
                <label class="radiolabel py-3" for="date5">{{weekDay[this.dayName].name.slice(0,3)}}<br>
                    <b>{{this.currentDate+4}}</b></label>
            </div>
        </div>
    </div>
    <div class="row px-3 pb-3">
        <div class="col-12">
            <p class="f-500">10 July, wednesday</p>
        </div>
    </div>
</div>

<div class="container-fluid" style="background-color: white;">
    <div class="row p-3">
        <div class="col-12 font-weight-medium">
            <p class="select-date">Select Time</p>
        </div>
    </div>
</div>
<div class="container-fluid brdr-btm pb-4" style="background-color: #ebebeb;">
    <div class="row px-3">
        <div class="col-12 pt-2">
            <p class="pt-2">Morning</p>
        </div>
    </div>
    <div class="row p-2 no-gutters">
        <div class="col pr-2">
            <div class="bg-white borders">
                <input type="radio" class="radiobutton" name="time" id="time1" checked>
                <label class="radiolabel pad heading" for="time1">09:00AM</label>
            </div>
        </div>
        <div class="col pr-2">
            <div class="bg-white borders">
                <input type="radio" class="radiobutton" name="time" id="time2">
                <label class="radiolabel pad heading" for="time2">10:00AM</label>
            </div>
        </div>
        <div class="col pr-2">
            <div class="bg-white borders">
                <input type="radio" class="radiobutton" name="time" id="time3">
                <label class="radiolabel pad heading" for="time3">11:00AM</label>
            </div>
        </div>
        <div class="col pr-2">
            <div class="bg-white borders">
                <input type="radio" class="radiobutton" name="time" id="time4">
                <label class="radiolabel pad heading" for="time4">11:30AM</label>
            </div>
        </div>
    </div>
    <div class="row px-3">
        <div class="col-12 pt-3">
            <p class="pt-2">Afternoon</p>
        </div>
    </div>
    <div class="row p-2 no-gutters">
        <div class="col pr-2">
            <div class="bg-white borders">
                <input type="radio" class="radiobutton" name="time" id="time5">
                <label class="radiolabel pad heading" for="time5">12:00PM</label>
            </div>
        </div>
        <div class="col pr-2">
            <div class="bg-white borders">
                <input type="radio" class="radiobutton" name="time" id="time6" />
                <label class="radiolabel pad heading" for="time6">12:30PM</label>
            </div>
        </div>
        <div class="col pr-2">
            <div class="bg-white borders">
                <input type="radio" class="radiobutton" name="time" id="time7">
                <label class="radiolabel pad heading" for="time7">01:00PM</label>
            </div>
        </div>
        <div class="col pr-2">
            <div class="bg-white borders">
                <input type="radio" class="radiobutton" name="time" id="time8">
                <label class="radiolabel pad heading" for="time8">01:30PM</label>
            </div>
        </div>
    </div>
    <div class="row p-2 no-gutters">
        <div class="col pr-2">
            <div class="bg-white borders">
                <input type="radio" class="radiobutton" name="time" id="time9" />
                <label class="radiolabel pad heading" for="time9">02:00PM</label>
            </div>
        </div>
        <div class="col pr-2">
            <div class="bg-white borders">
                <input type="radio" class="radiobutton" name="time" id="time10" />
                <label class="radiolabel pad heading" for="time10">02:30PM</label>
            </div>
        </div>
        <div class="col pr-2">
            <div class="bg-white borders">
                <input type="radio" class="radiobutton" name="time" id="time11" />
                <label class="radiolabel pad heading" for="time11">03:00PM</label>
            </div>
        </div>
        <div class="col pr-2">
            <div class="bg-white borders">
                <input type="radio" class="radiobutton" name="time" id="time12" />
                <label class="radiolabel pad heading" for="time12">03:30PM</label>
            </div>
        </div>
    </div>
    <div class="row px-3">
        <div class="col-12 pt-3">
            <p class="pt-2">Evening</p>
        </div>
    </div>
    <div class="row p-2 no-gutters">
        <div class="col pr-2">
            <div class="bg-white borders">
                <input type="radio" class="radiobutton" name="time" id="time13">
                <label class="radiolabel pad heading" for="time13">05:00PM</label>
            </div>
        </div>
        <div class="col pr-2">
            <div class="bg-white borders">
                <input type="radio" class="radiobutton" name="time" id="time14">
                <label class="radiolabel pad heading" for="time14">05:30PM</label>
            </div>
        </div>
        <div class="col pr-2">
            <div class="bg-white borders">
                <input type="radio" class="radiobutton" name="time" id="time15">
                <label class="radiolabel pad heading" for="time15">06:00PM</label>
            </div>
        </div>
        <div class="col pr-2">
            <div class="bg-white borders">
                <input type="radio" class="radiobutton" name="time" id="time16">
                <label class="radiolabel pad heading" for="time16">06:30PM</label>
            </div>
        </div>
    </div>
</div>
<div container-fluid class="p-3" style="background-color:transparent;">
    <div class="row">
        <div class="col-12">
            <div class="text-center link" style="text-align: center;">
                <button class="btn btn-warning" (click)="showDiv()">
                    Confirm
                </button>
            </div>
        </div>
    </div>
</div>