<div class="container-fluid" style="background-color: white; border-radius: 12px;">
    <h2>Select Date And Time</h2>
    <div class="container-fluid">
        <div class="row p-3">
            <div class="col-8 heading font-weight-medium">
                <p>Select A Date</p>
            </div>
            <div class="col-3 text-black font-weight-medium">October</div>
        </div>
        <div class=" row p-sm-2" style="background-color:#ebebeb;">
            <div class="col-sm-2 p-3  m-1 ml-2 bg-white" >
                <input type="radio" class="" name="date" id="time" style="display: none;">
                <label class="radio" for="time1">Mon</label>
                <label class="radio" for="time1">11</label>
            </div>
            <div class="col-sm-2 p-3 m-1  bg-white" >
                <input type="radio" class="" name="date" id="time2" style="display: none;">
                <label class="radio" for="time2">Tue</label><br>
                <label class="radio" for="time2">12</label>
            </div>
            <div class="col-sm-2 p-3  m-1  bg-white" >
                <input type="radio" class="" name="date" id="time3" style="display: none;">
                <label class="radio" for="time3">Wed</label>
                <label class="radio" for="time3">13</label>
            </div>
            <div class="col-sm-2 p-3 m-1  bg-white"  for="date4">
                <input type="radio" class="" name="date" id="date4" style="display: none;">
                <label class="radio">Thu</label>
                <label class="radio">14</label>
            </div>
            <div class="col-sm-2 p-3 m-1  bg-white" >
                <input type="radio" class="" name="date" id="time5" style="display: none;">
                <label class="radio" for="rime5">Fri</label><br>
                <label class="radio" for="rime5">15</label>
            </div>

        </div>

        <div class="row">
            <div class="col-8 heading font-weight-medium">
                <p>Select Time</p>
            </div>
        </div>
        <div class="row p-3" style="background-color:#ebebeb;">
            <p class="p-3">Morning</p><br>
            <div class=" row ">

                <div class="col ">
                    <div class="bg-white">
                    <input type="radio" class="" name="date" id="date1" style="display: none;">
                    <label class="radio pad" for="date1">09:00Am</label>
                    </div>
                </div>
                <div class="col " >
                    <div  class="bg-white">
                    <input type="radio" class="" name="date" id="date2" style="display: none;">
                    <label class="radio pad" for="date2">10:00Am</label>
                    </div>
                </div>
                <div class="col " >
                    <div class="bg-white">

                    <input type="radio" class="" name="date" id="date3" style="display: none;">
                    <label class="radio pad" for="date3">11:00Am</label>
                    </div>
                </div>
                <div class="col  ">
                    <div class="bg-white">
                    <input type="radio" class="" name="date" id="date4" style="display: none;">
                    <label class="radio pad" for="date3">11:30Am</label>
                    </div>
                </div>
            </div>
        </div>
        <div class=" row p-3" style="background-color:#ebebeb;">
            <p p-3>Afternoon</p><br>
            <div class="row">

                <div class="col p-3  ">
                    <div class="bg-white">
                    <input type="radio" class="" name="date" id="date1" style="display: none;">
                    <label class="radio pad" for="time1">12:00Am</label>
                    </div>
                </div>
                <div class="col  p-3 ">
                    <div class="bg-white">
                    <input type="radio" class="" name="date" id="date2" style="display: none;" />
                    <label class="radio pad" for="time2">12:30Am</label>
                    </div>
                </div>
                <div class="col p-3 ">
                    <div class="" class="bg-white">
                    <input type="radio" class="" name="date" id="date3" style="display: none;">
                    <label class="radio pad" for="time33">01:00Am</label>
                    </div>
                </div>
                <div class="col p-3  ">
                    <div class="" class="bg-white">
                    <input type="radio" class="" name="date" id="date4" style="display: none;">
                    <label class="radio pad" for="time43">01:30Am</label>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col">
                    <div class="bg-white">
                    <input type="radio" class="" name="date" id="date1" style="display: none;">
                    <label class="radio pad" for="date1">02:00pm</label>
                    </div>
                </div>
                <div class="col " >
                    <div  class="bg-white">
                    <input type="radio" class="" name="date" id="date2" style="display: none;">
                    <label class="radio pad" for="date2">02:30pm</label>
                    </div>
                </div>
                <div class="col " >
                    <div class="bg-white">

                    <input type="radio" class="" name="date" id="date3" style="display: none;">
                    <label class="radio pad" for="date3">03:00pm</label>
                    </div>
                </div>
                <div class="col  ">
                    <div class="bg-white">
                    <input type="radio" class="" name="date" id="date4" style="display: none;">
                    <label class="radio pad" for="date3">02:30pm</label>
                    </div>
                </div>
            </div>
            
        </div>
        <div class=" row p-3" style="background-color:#ebebeb;">
            <p p-3>Evening</p><br><br>
            <div class=" row ">

                <div class="col ">
                    <div class="bg-white">
                    <input type="radio" class="" name="date" id="date1" style="display: none;">
                    <label class="radio pad" for="date1">05:00pm</label>
                    </div>
                </div>
                <div class="col " >
                    <div  class="bg-white">
                    <input type="radio" class="" name="time" id="date2" style="display: none;">
                    <label class="radio pad" for="date2">05:30pm</label>
                    </div>
                </div>
                <div class="col " >
                    <div class="bg-white">

                    <input type="radio" class="" name="time" id="date3" style="display: none;">
                    <label class="radio pad" for="date3">06:00pm</label>
                    </div>
                </div>
                <div class="col ">
                    <div class="bg-white">
                    <input type="radio" class="" name="time" id="t" style="display: none;">
                    <label class="radio pad" for="date3">06:30pm</label>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<div container-fluid class="p-3" style="background-color:transparent;">
    <div class="text-center" style="text-align: center;">
        <button class="btn btn-warning">
            <img class=" mt-1" src="assets/icon/black-paw.png" width="18" height="18">
            Consult Online
            <img class="mt-1" src="assets/icon/black-paw.png" width="18" height="18">
        </button>
    </div>

</div>