<form [formGroup]="AddDateTime" class="no-outline" autocomplete="off">
  <div class="container-fluid brdr-top" style="background-color: white;">
    <div class="row">
      <div class="col-1 mt-4 py-0 py-sm-0">
        <a (click)="back()" target="_blank">
          <img class="verified-img m-2 mt-2" src="assets/icon/back.png">
        </a>
      </div>
      <div class="col-11 mt-4 py-0 py-sm-0">
        <label class="d-flex justify-content-center mx-auto heading-ecard">Select Date & Time</label>
      </div>
    </div>
    <div class="row p-3">
      <div class="col-8 font-weight-medium">
        <p class="select-date">Select a Date</p>
      </div>
      <div class="col-4 d-flex justify-content-center mx-auto font-weight-medium">{{this.monthName}}</div>
    </div>
  </div>

  <div class="container-fluid" style="background-color: #ebebeb;">
    <div class="row p-2 no-gutters">
      <div *ngFor="let day of aryDates" class="col pr-2">
        <div class="bg-white borders">
          <input [value]="day.Date" class="radiobutton" formControlName="date" id="{{day.Date}}" name="date"
                 type="radio">
          <label class="radiolabel py-3" for="{{day.Date}}">{{day.Day.slice(0, 3)}}<br>
            <b>{{day.Date}}</b></label>
        </div>
      </div>
    </div>
    <div class="row px-3 pb-3">
      <div class="col-12">
        <!--<input-date label="Date" name="date" (change)="validateDate();"
                    [parentFormGroup]="AddDateTime" [minDate]="null" placeholder="Date"></input-date>-->
        <p class="f-500">10 July, wednesday</p>
      </div>
    </div>
  </div>

  <div class="container-fluid" style="background-color: white;">
    <div class="row p-3">
      <div class="col-12 font-weight-medium">
        <p class="select-date">Select Time</p>
      </div>
    </div>
  </div>
  <div class="container-fluid brdr-btm pb-4" style="background-color: #ebebeb;">
    <div class="row px-3">
      <div class="col-12 pt-2">
        <p class="pt-2">Morning</p>
      </div>
    </div>
    <div class="row p-2 no-gutters">
      <div class="col pr-2">
        <div class="bg-white borders">
          <input [value]="09-00" checked class="radiobutton" formControlName="time" id="time1"
                 name="time" type="radio">
          <label class="radiolabel pad heading" for="time1">09:00AM</label>
        </div>
      </div>
      <div class="col pr-2">
        <div class="bg-white borders">
          <input [value]="10-00" class="radiobutton" formControlName="time" id="time2" name="time"
                 type="radio">
          <label class="radiolabel pad heading" for="time2">10:00AM</label>
        </div>
      </div>
      <div class="col pr-2">
        <div class="bg-white borders">
          <input [value]="11-00" class="radiobutton" formControlName="time" id="time3" name="time"
                 type="radio">
          <label class="radiolabel pad heading" for="time3">11:00AM</label>
        </div>
      </div>
      <div class="col pr-2">
        <div class="bg-white borders">
          <input [value]="11-30" class="radiobutton" formControlName="time" id="time4" name="time"
                 type="radio">
          <label class="radiolabel pad heading" for="time4">11:30AM</label>
        </div>
      </div>
    </div>
    <div class="row px-3">
      <div class="col-12 pt-3">
        <p class="pt-2">Afternoon</p>
      </div>
    </div>
    <div class="row p-2 no-gutters">
      <div class="col pr-2">
        <div class="bg-white borders">
          <input [value]="12-00" class="radiobutton" formControlName="time" id="time5" name="time"
                 type="radio">
          <label class="radiolabel pad heading" for="time5">12:00PM</label>
        </div>
      </div>
      <div class="col pr-2">
        <div class="bg-white borders">
          <input [value]="12-30" class="radiobutton" formControlName="time" id="time6" name="time"
                 type="radio"/>
          <label class="radiolabel pad heading" for="time6">12:30PM</label>
        </div>
      </div>
      <div class="col pr-2">
        <div class="bg-white borders">
          <input [value]="1-00" class="radiobutton" formControlName="time" id="time7" name="time"
                 type="radio">
          <label class="radiolabel pad heading" for="time7">01:00PM</label>
        </div>
      </div>
      <div class="col pr-2">
        <div class="bg-white borders">
          <input [value]="1-30" class="radiobutton" formControlName="time" id="time8" name="time"
                 type="radio">
          <label class="radiolabel pad heading" for="time8">01:30PM</label>
        </div>
      </div>
    </div>
    <div class="row p-2 no-gutters">
      <div class="col pr-2">
        <div class="bg-white borders">
          <input [value]="2-00" class="radiobutton" formControlName="time" id="time9" name="time"
                 type="radio"/>
          <label class="radiolabel pad heading" for="time9">02:00PM</label>
        </div>
      </div>
      <div class="col pr-2">
        <div class="bg-white borders">
          <input [value]="2-30" class="radiobutton" formControlName="time" id="time10" name="time"
                 type="radio"/>
          <label class="radiolabel pad heading" for="time10">02:30PM</label>
        </div>
      </div>
      <div class="col pr-2">
        <div class="bg-white borders">
          <input [value]="3-00" class="radiobutton" formControlName="time" id="time11" name="time"
                 type="radio"/>
          <label class="radiolabel pad heading" for="time11">03:00PM</label>
        </div>
      </div>
      <div class="col pr-2">
        <div class="bg-white borders">
          <input [value]="3-30" class="radiobutton" formControlName="time" id="time12" name="time"
                 type="radio"/>
          <label class="radiolabel pad heading" for="time12">03:30PM</label>
        </div>
      </div>
    </div>
    <div class="row px-3">
      <div class="col-12 pt-3">
        <p class="pt-2">Evening</p>
      </div>
    </div>
    <div class="row p-2 no-gutters">
      <div class="col pr-2">
        <div class="bg-white borders">
          <input [value]="05-00" class="radiobutton" formControlName="time" id="time13" name="time"
                 type="radio">
          <label class="radiolabel pad heading" for="time13">05:00PM</label>
        </div>
      </div>
      <div class="col pr-2">
        <div class="bg-white borders">
          <input class="radiobutton" formControlName="time" id="time14" name="time" type="radio">
          <label class="radiolabel pad heading" for="time">05:30PM</label>
        </div>
      </div>
      <div class="col pr-2">
        <div class="bg-white borders">
          <input [value]="06-00" class="radiobutton" formControlName="time" id="time15" name="time"
                 type="radio">
          <label class="radiolabel pad heading" for="time15">06:00PM</label>
        </div>
      </div>
      <div class="col pr-2">
        <div class="bg-white borders">
          <input [value]="06-30" class="radiobutton" formControlName="time" id="time16" name="time"
                 type="radio">
          <label class="radiolabel pad heading" for="time16">06:30PM</label>
        </div>
      </div>
    </div>
  </div>
  <div class="p-3" container-fluid style="background-color:transparent;">
    <div class="row">
      <div class="col-12">
        <div class="text-center link" style="text-align: center;">
          <button (click)="showDiv()" class="btn btn-warning">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
