<app-tab-nav-wrapper [tabLinks]="tabLinks" (tabHandler)="onTabItemClick($event)">
</app-tab-nav-wrapper>

<main>
    <section>
        <div class="tab-content">
            <app-appointment-dashboard class="tab-pane fade"
                [ngDelayedClass]="{active: activeTab === 'appointments', classList: ['active', 'show']}">
            </app-appointment-dashboard>
            <app-calendar class="tab-pane fade"
                [ngDelayedClass]="{active: activeTab === 'calender', classList: ['active', 'show']}">
            </app-calendar>
            <app-reminders class="tab-pane fade"
                [ngDelayedClass]="{active: activeTab === 'reminders', classList: ['active', 'show']}">
            </app-reminders>
        </div>
    </section>
</main>