@import "src/styles/variables";

form {
    font-family: "Poppins", sans-serif;
}

label {
    color: $label-heading-color;
    font-size: $font-size-sm;
}

.error {
    border-color: $color-danger;
    outline: none;
    transition: $transition-time;
    box-shadow: 0 0 0 0.2rem rgba($color-danger, 0.2);

    &-message {
        color: $color-danger;
        height: 14px;
        font-size: $font-size-xs;
    }
}

.btn-warning {
    background-color: $color-secondary;
    border-color: $color-secondary;
    color: $white;
    border-radius: $border-radius-sm;

    &:hover,
    &:active,
    &:visited,
    &:focus {
        background-color: darken($color-secondary, 8);
        border-color: darken($color-secondary, 8);
    }

    &:disabled {
        cursor: not-allowed;
        pointer-events: unset;
    }
}
