<div class="error-page flex-column-reverse flex-sm-row">
    <section class="left-block">
        <h1 class="mt-3 font-weight-bold">404 Error</h1>
        <span>The page you requested could not be found</span>

        <app-button class="align-self-start mt-5" className="btn-warning" buttonText="Let's go home." (buttonClicked)="navigateToHome()">
            <img src="assets/images/animal-prints.svg" width="20" height="20" icon-prefix>
            <img src="assets/images/animal-prints.svg" width="20" height="20" icon-suffix>
            
        </app-button>
        <!-- <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin:auto;background:red;display:block;" viewBox="0 0 1400 200" preserveAspectRatio="xMidYMid">
            <path fill="#000" fill-opacity="1" d="M 250 600 Q 350 550 394 459 C 445 294 400 250 550 150 L 0 150 L 0 600 L 250 600"></path>
        </svg> -->
    </section>

    <section class="right-block d-flex justify-content-center align-items-center">
        <img class="w-100 p-3" src="assets/images/error-404-dog.svg" alt="">
    </section>
</div>