@import "src/styles/variables";

.error-page {
    background: $error-page-background;
    min-height: 100vh;
    margin-top: -70px;
    height: 100vh;
    display: flex;

    .left-block {
        flex: 0 0 60%;
        display: flex;
        flex-direction: column;
        background: $white;
        padding: 12rem 5rem;
        @media (max-width: $media-breakpoint-sm) {
            padding: 2rem 2rem;
        }

        h1 {
            color: $about-primary-heading;
        }

        span {
            opacity: 0.5;
        }
    }

    .right-block {
        flex: 0 0 40%;

        img {
            max-width: 450px;
        }
    }
}
