<form *ngIf="addPetForm" [formGroup]="addPetForm" class="no-outline" autocomplete="off">

  <div class="container-fluid bg-white" style="border-radius: 15px">
    <div class="row">
      <div class="col-2 p-sm-3">
        <button class="btn btn-warning" (click)="back()">Back</button>
      </div>
      <div class="col-10 p-sm-3 text-center">
        <div class="heading text-center font-weight-medium">
          <h3>Pet Details</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row px-3">
      <div class="col-12 p-sm-3">
        <div class="heading font-weight-medium">
          <h5>Pet Name</h5>
        </div>
      </div>
      <div class="input-group select">
        <input class="form-control form-control-lg" id="name" formControlName="name" placeholder="Enter Pet Name">
      </div>
    </div>
    <div class="row">
      <div class="col-12 p-3">
        <div class="heading font-weight-medium">
          <h5>Pet Type</h5>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <mat-select class="form-control form-control-lg" name="petTypeId" id="type" formControlName="petTypeId"
            placeholder="Pet Types">
            <mat-option *ngFor="let type of petTypes;" [value]="type.id">{{type.name}}</mat-option>
          </mat-select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 p-3">
        <div class="heading font-weight-medium">
          <h5>Pet Breed</h5>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <mat-select class="form-control form-control-lg" id="breed" name="petBreedId" formControlName="petBreedId"
            placeholder="Pet Types">
            <mat-option value="reason" *ngFor="let breed of breedTypes;" [value]="breed.id">{{breed.name}}</mat-option>
          </mat-select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 p-3">
        <div class="heading font-weight-medium">
          <h5>Pet Gender</h5>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <mat-select class="form-control form-control-lg" id="genderid" name="gender" formControlName="genderId"
            placeholder="Pet Types">
            <mat-option value="gender" *ngFor="let gender of genders;" [value]="gender.id">{{gender.name}}</mat-option>
          </mat-select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 p-3">
        <div class="heading font-weight-medium">
          <h5>Pet Weight</h5>
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <mat-select class="form-control form-control-lg" id="weight" name="weightUnitId"
            formControlName="weightUnitId" placeholder="Pet Weight">
            <mat-option value="unit" *ngFor="let unit of units;" [value]="unit.id">{{unit.name}}</mat-option>
          </mat-select>
        </div>
      </div>
      <div class="col-9">
        <div class="form-group">
          <input class="form-control form-control-lg" id="weightValue" formControlName="weightValue"
            placeholder="Enter Weight">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 p-3">
        <div class="heading font-weight-medium">
          <h5>Pet Age</h5>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <input class="form-control form-control-lg" id="yearOld" formControlName="yearOld" placeholder="Year Old">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 p-3">
        <div class="heading font-weight-medium">
          <h5>Pet Birth Date</h5>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <input class="form-control form-control-lg" type="date" id="birthDay" formControlName="birthDay"
            placeholder="Birth Date">
        </div>
      </div>
    </div>

    <div class="actions">
      <div class="row">
        <div class="col-6 form-group">
          <button class="btn-upload">
            <input #uploadRef type="file" id="upload-input" accept="image/*" name="image"
              (change)="upload($event.target)">
            <label for="upload-input">
              <img [src]="'/assets/icon/camera.png'" alt="" class="img-take-photo">
              {{'breed.search.action.upload' | translate}}
            </label>
          </button>
        </div>
        <div class="col-6 form-group">
          <button (click)="getPicture = true;" class="btn-upload">
            <img [src]="'/assets/icon/photo.png'" alt="" class="img-take-photo">
            <span class="take-photo"> {{'breed.search.action.photo' | translate}}</span>
          </button>
        </div>
        <div class="col-12">
          <app-get-picture *ngIf="getPicture" (closed)="getPicture = false;" (captured)="capturePhoto($event)">
          </app-get-picture>
        </div>
        <div class="col-12">
          <app-crop-picture *ngIf="(imageToCrop$ | async) as imageCrop" [image]="imageCrop"
            (cropped)="croppedImage($event)" (cancel)="croppedImage()"></app-crop-picture>
          <img *ngIf="image" [src]="image" max-height="300px" width="100%" />
        </div>
      </div>
    </div>


  </div>
  <div class="p-3 container-fluid" style="background-color: transparent">
    <div class="col-12 text-center" style="text-align: center">
      <div class="link">
        <app-button class="mt-4" className="btn-warning" buttonText="ADD PET"
          [disabled]="(addPetForm.invalid || apiInProgress)" (buttonClicked)="onSubmit()">
        </app-button>
      </div>
    </div>
  </div>
</form>