<form *ngIf="addPetForm" [formGroup]="addPetForm" class="no-outline" autocomplete="off" (ngSubmit)="onFormSubmit()">

<div class="container-fluid bg-white" style="border-radius: 15px">
  <div class="row">
    <div class="col-2 p-sm-3">
      <button class="btn btn-warning" (click)="back()">Back</button>
    </div>
    <div class="col-10 p-sm-3 text-center">
      <div class="heading text-center font-weight-medium">
        <h3>Pet Details</h3>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row px-3">
    <div class="col-12 p-sm-3">
      <div class="heading font-weight-medium">
        <h5>Pet Name</h5>
      </div>
    </div>
    <div class="input-group select">
      <input class="form-control" formControlName="petname" type="text" id="name" placeholder="Name" />
    </div>
  </div>
  <div class="row">
    <div class="col-12 p-3">
      <div class="heading font-weight-medium">
        <h5>Pet Type</h5>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <mat-select class="form-control form-control-lg" name="type" id="type"
        formControlName="pettypes" placeholder="Pet Types">
          <mat-option  *ngFor="let type of petTypes;" [value]="type.name">{{type.name}}</mat-option>
        </mat-select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 p-3">
      <div class="heading font-weight-medium">
        <h5>Pet Breed</h5>
      </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            <mat-select class="form-control form-control-lg" id="breed" name="breed"
            formControlName="petbreed" placeholder="Pet Types">
                <mat-option value="reason" *ngFor="let breed of breedTypes;" 
                [value]="breed.name">{{breed.name}}</mat-option>
            </mat-select>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 p-3">
      <div class="heading font-weight-medium">
        <h5>Pet Age</h5>
      </div>
    </div>
    <div class="col-12">
        <div class="form-group" >
            <mat-select class="form-control form-control-lg" id="age" name="age" formControlName="petage">
              <mat-option>Pet Age</mat-option>
              <mat-option [value]="1">1</mat-option>
              <mat-option [value]="2">2</mat-option>
              <mat-option [value]="3">3</mat-option>
            </mat-select>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 p-3">
      <div class="heading font-weight-medium">
        <h5>Profile Picture</h5>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-6 text-right">
          <input type="file" id="file" accept="image/*" />
          <label for="file" class="btn-2"><img src="assets/img/fwd-images/photo(1).png" class="take-photo"/>Select Photo</label>
        </div>
        <div class="col-6 text-center">
          <input type="file" id="file" accept="image/*" />
          <label for="file" class="btn-2"><img src="assets/img/fwd-images/photo.png" class="take-photo"/>Take Photo</label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="p-3 container-fluid" style="background-color: transparent">
  <div class="col-12 text-center" style="text-align: center">
    <div class="link">
      <button class="btn btn-warning" (click)="save()">Save</button>
    </div>
  </div>
</div>
</form>
