<div class="container-fluid">

    <app-pet-client-summary></app-pet-client-summary>

    <div class="row mt-4">
        <div class="col-12 col-md-4 pl-0">
            <div class="row">
                <div class="col-6 col-md-12">
                    <app-pet-info></app-pet-info>
                </div>
                <div class="col-6 col-md-12 mt-md-4">
                    <app-pet-vitals></app-pet-vitals>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8 pr-0">
            <app-appointment-history></app-appointment-history>
        </div>
    </div>
</div>