@import "src/styles/variables";

figure.ads {
    width: 40vw;
    margin: 2rem auto;
    max-width: 450px;
    min-width: 350px;

    img {
        width: 100%;
    }

    @media (max-width: $media-breakpoint-sm) {
        width: 100%;
        max-width: unset;
    }
}
