<h2 mat-dialog-title class="d-flex justify-content-between align-items-center">
    <span>Add Appointment </span>
    <mat-icon mat-dialog-close class="border rounded small text-muted">close</mat-icon>
</h2>

<mat-dialog-content class="full-page">
    <form [formGroup]="appointmentForm" class="no-outline" autocomplete="off">
        <div class="row">
            <div class="col-12 col-sm-6 form-group mb-1">
                <input-search label="Client" placeholder="Search Client" name="client"
                    [parentFormGroup]="appointmentForm" [searchItems$]="searchItems$">
                    <mat-icon class="small">search</mat-icon>
                </input-search>
                <label class="font-weight-medium mt-2 cursor-pointer" (click)="addClient()">+ Add New Client</label>
            </div>
            <div class="col-12 col-sm-6 form-group mb-1">
                <input-search label="Pet" placeholder="Search Pet" name="pet" [parentFormGroup]="appointmentForm"
                    [searchItems$]="searchItems$">
                    <mat-icon class="small">search</mat-icon>
                </input-search>
                <label class="font-weight-medium mt-2 cursor-pointer" (click)="addPet()">+ Add New Pet</label>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-6 form-group">
                <input-dropdown label="Type of Appointment" name="type" placeholder="Select Appointment"
                    [parentFormGroup]="appointmentForm"
                    [selectionList]="[{name: 'Regular Visit', value: 'regular'}, {name: 'Emergency Visit', value: 'emergency'}]">
                </input-dropdown>
            </div>
            <div class="col-12 col-sm-6 form-group">
                <input-search label="Vet" placeholder="Search Vet" name="vet" [parentFormGroup]="appointmentForm"
                    [searchItems$]="searchItems$">
                    <mat-icon class="small rounded-icon">person</mat-icon>
                </input-search>
            </div>
        </div>

        <div class="row">
            <div class="col-12 form-group">
                <label class="mb-0" for="reason">Reason of Appointment</label>
                <input class="form-control" id="reason" formControlName="reason">
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-6 form-group">
                <input-date label="Date" name="date" [parentFormGroup]="appointmentForm"></input-date>
            </div>
            <div class="col-12 col-sm-6 form-group">
                <input-dropdown label="Time" name="time" placeholder="Select time" [parentFormGroup]="appointmentForm"
                    [selectionList]="[{name: '01:00 PM', value: '1300'}, {name: '02:00 PM', value: '1400'}]">
                </input-dropdown>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-6 form-group">
                <input-dropdown label="Repeat" name="repeat" placeholder="Repeat when"
                    [parentFormGroup]="appointmentForm"
                    [selectionList]="[{name: 'Daily', value: 'daily'}, {name: 'Weekly', value: 'weekly'}]">
                </input-dropdown>
            </div>


            <div class="col-12 col-sm-6 form-group">
                <input-dropdown label="Occurances" name="occurances" placeholder="Select occurance"
                    [parentFormGroup]="appointmentForm"
                    [selectionList]="[{name: '0', value: '0'}, {name: '1', value: '1'}]">
                </input-dropdown>
            </div>
        </div>
    </form>

    <app-button class="mt-2" className="btn-warning" buttonText="ADD APPOINTMENT"
        [disabled]="(appointmentForm.invalid || apiInProgress)" (buttonClicked)="onSubmit()">
    </app-button>

    <figure class="ads">
        <img src="assets/images/appointment-ad.png" alt="">
    </figure>

</mat-dialog-content>