@import "~src/vendor/scss/layouts/sp1/sp1";

.container {
  position: relative;
  padding: 118px 80px;
  text-align: left;

  h1 {
    padding: 0;
    margin: 0;
    font-size: 50px;
    line-height: 68px;
    font-weight: 900;
    font-family: Avenir, sans-serif;
    color: #0d375f;
  }

  h2 {
    padding: 0;
    margin: 10px 0 0;
    font-size: 14px;
    line-height: 18px;
    color: #8f8f8f;
    font-weight: 400;
  }

  span {
    margin: 70px 0 16px;
    display: block;
    font-size: 14px;
    line-height: 20px;
    color: $Black;
  }

  a {
    font-size: 14px;
    padding: 12px 36px;
    background-color: $Primary;
    font-weight: 600;
    color: #fefefe;
    text-decoration: none;
    text-align: center;
    position: relative;
    border-radius: 10px;
    line-height: 17px;
    display: inline-block;

    &:hover {
      &:after,
      &:before {
        content: url("/assets/img/white-paws.png");
        transition: content 500ms ease;
      }
    }

    &:after,
    &:before {
      content: url("/assets/img/brown-paws.png");
      position: absolute;
      height: 20px;
      width: 20px;
      top: 50%;
      transform: translate(0, -50%);
    }

    &:before {
      left: 6px;
    }

    &:after {
      right: 6px;
    }

    &:hover {
      &:before,
      &:after {
        color: $White;
      }
    }
  }

  .img-block {
    position: absolute;
    right: 0;
    bottom: 50px;
    background: url("/assets/img/random-dots.png") no-repeat top center;
    background-size: 42%;
  }

  img {
    max-height: 190px;
  }
}

@include for-phone-only {
  .container {
    text-align: center;
    padding: 78px 50px;

    .img-block {
      display: none;
    }
  }
}

@include for-tablet-landscape-up {
  .container {
    .img-block {
      img {
        max-height: 336px;
      }
    }
  }
}
